@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0); }
  10% {
    transform: scale(1.1, 0.9) translateY(0); }
  30% {
    transform: scale(0.9, 1.1) translateY(-60px); }
  50% {
    transform: scale(1.05, 0.95) translateY(0px); }
  57% {
    transform: scale(1, 1) translateY(-7px); }
  64% {
    transform: scale(1, 1) translateY(0px); }
  100% {
    transform: scale(1, 1) translateY(0px); } }

@keyframes bounce-shadow {
  0% {
    transform: scale(1, 1) rotateX(45deg);
    opacity: .9; }
  10% {
    transform: scale(1.1, 0.9) rotateX(45deg);
    opacity: 1; }
  30% {
    transform: scale(0.7, 1.2) rotateX(45deg);
    opacity: .6; }
  50% {
    transform: scale(0.95, 1.05) rotateX(45deg);
    opacity: .8; }
  57% {
    transform: scale(0.9, 1) rotateX(45deg);
    opacity: .75; }
  64% {
    transform: scale(1, 1) rotateX(45deg);
    opacity: .9; }
  100% {
    transform: scale(1, 1) rotateX(45deg);
    opacity: .9; } }

@keyframes ring-ball-an-1 {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

html {
  font-size: 62.5%; }

.section {
  padding-top: 3.3rem;
  padding-bottom: 3.3rem; }
  .section-form__title-box {
    max-width: 24rem;
    margin: 0 auto;
    margin-bottom: 30px; }
    .section-form__title-box > img {
      width: 100%; }

.img-box > img {
  width: 100%;
  vertical-align: middle;
  object-fit: cover; }

@media screen and (min-width: 480px) {
  .section-form__title-box {
    max-width: 27rem; } }

@media screen and (min-width: 960px) {
  .section {
    padding-top: 6.9rem;
    padding-bottom: 6.9rem; }
    .section-form__title-box {
      max-width: 36rem; } }

@media screen and (min-width: 1440px) {
  .section-form__title-box {
    max-width: none;
    text-align: center; }
    .section-form__title-box > img {
      width: auto; } }

.btn-a:link, .btn-a:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  padding: 1.2rem 1.8rem; }

.btn-button {
  border: none;
  background: #fff;
  font-size: 1.5rem;
  padding: 1.2rem 1.8rem; }
