@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0); }
  10% {
    transform: scale(1.1, 0.9) translateY(0); }
  30% {
    transform: scale(0.9, 1.1) translateY(-60px); }
  50% {
    transform: scale(1.05, 0.95) translateY(0px); }
  57% {
    transform: scale(1, 1) translateY(-7px); }
  64% {
    transform: scale(1, 1) translateY(0px); }
  100% {
    transform: scale(1, 1) translateY(0px); } }

@keyframes bounce-shadow {
  0% {
    transform: scale(1, 1) rotateX(45deg);
    opacity: .9; }
  10% {
    transform: scale(1.1, 0.9) rotateX(45deg);
    opacity: 1; }
  30% {
    transform: scale(0.7, 1.2) rotateX(45deg);
    opacity: .6; }
  50% {
    transform: scale(0.95, 1.05) rotateX(45deg);
    opacity: .8; }
  57% {
    transform: scale(0.9, 1) rotateX(45deg);
    opacity: .75; }
  64% {
    transform: scale(1, 1) rotateX(45deg);
    opacity: .9; }
  100% {
    transform: scale(1, 1) rotateX(45deg);
    opacity: .9; } }

.col-12 {
  margin: 0 1.2rem;
  width: calc((100% - 1 * 2.4rem) / 1); }

.col-6 {
  margin: 0 1.2rem;
  width: calc((100% - 2 * 2.4rem) / 2); }

.col-4 {
  margin: 0 1.2rem;
  width: calc((100% - 3 * 2.4rem) / 3); }

.col-3 {
  margin: 0 1.2rem;
  width: calc((100% - 4 * 2.4rem) / 4); }

.col-2 {
  margin: 0 1.2rem;
  width: calc((100% - 6 * 2.4rem) / 6); }

.col-1 {
  margin: 0 1.2rem;
  width: calc((100% - 12 * 2.4rem) / 12); }

@media only screen and (max-width: 1440px) {
  .xl\:col-12 {
    margin: 0 1.2rem;
    width: calc((100% - 1 * 2.4rem) / 1); }
  .xl\:col-6 {
    margin: 0 1.2rem;
    width: calc((100% - 2 * 2.4rem) / 2); }
  .xl\:col-4 {
    margin: 0 1.2rem;
    width: calc((100% - 3 * 2.4rem) / 3); }
  .xl\:col-3 {
    margin: 0 1.2rem;
    width: calc((100% - 4 * 2.4rem) / 4); }
  .xl\:col-2 {
    margin: 0 1.2rem;
    width: calc((100% - 6 * 2.4rem) / 6); }
  .xl\:col-1 {
    margin: 0 1.2rem;
    width: calc((100% - 12 * 2.4rem) / 12); } }

@media only screen and (max-width: 960px) {
  .lg\:col-12 {
    margin: 0 1.2rem;
    width: calc((100% - 1 * 2.4rem) / 1); }
  .lg\:col-6 {
    margin: 0 1.2rem;
    width: calc((100% - 2 * 2.4rem) / 2); }
  .lg\:col-4 {
    margin: 0 1.2rem;
    width: calc((100% - 3 * 2.4rem) / 3); }
  .lg\:col-3 {
    margin: 0 1.2rem;
    width: calc((100% - 4 * 2.4rem) / 4); }
  .lg\:col-2 {
    margin: 0 1.2rem;
    width: calc((100% - 6 * 2.4rem) / 6); }
  .lg\:col-1 {
    margin: 0 1.2rem;
    width: calc((100% - 12 * 2.4rem) / 12); } }

@media only screen and (max-width: 768px) {
  .md\:col-12 {
    margin: 0 1.2rem;
    width: calc((100% - 1 * 2.4rem) / 1); }
  .md\:col-6 {
    margin: 0 1.2rem;
    width: calc((100% - 2 * 2.4rem) / 2); }
  .md\:col-4 {
    margin: 0 1.2rem;
    width: calc((100% - 3 * 2.4rem) / 3); }
  .md\:col-3 {
    margin: 0 1.2rem;
    width: calc((100% - 4 * 2.4rem) / 4); }
  .md\:col-2 {
    margin: 0 1.2rem;
    width: calc((100% - 6 * 2.4rem) / 6); }
  .md\:col-1 {
    margin: 0 1.2rem;
    width: calc((100% - 12 * 2.4rem) / 12); } }

@media only screen and (max-width: 480px) {
  .sm\:col-12 {
    margin: 0 1.2rem;
    width: calc((100% - 1 * 2.4rem) / 1); }
  .sm\:col-6 {
    margin: 0 1.2rem;
    width: calc((100% - 2 * 2.4rem) / 2); }
  .sm\:col-4 {
    margin: 0 1.2rem;
    width: calc((100% - 3 * 2.4rem) / 3); }
  .sm\:col-3 {
    margin: 0 1.2rem;
    width: calc((100% - 4 * 2.4rem) / 4); }
  .sm\:col-2 {
    margin: 0 1.2rem;
    width: calc((100% - 6 * 2.4rem) / 6); }
  .sm\:col-1 {
    margin: 0 1.2rem;
    width: calc((100% - 12 * 2.4rem) / 12); } }

@media only screen and (max-width: 320px) {
  .xs\:col-12 {
    margin: 0 1.2rem;
    width: calc((100% - 1 * 2.4rem) / 1); }
  .xs\:col-6 {
    margin: 0 1.2rem;
    width: calc((100% - 2 * 2.4rem) / 2); }
  .xs\:col-4 {
    margin: 0 1.2rem;
    width: calc((100% - 3 * 2.4rem) / 3); }
  .xs\:col-3 {
    margin: 0 1.2rem;
    width: calc((100% - 4 * 2.4rem) / 4); }
  .xs\:col-2 {
    margin: 0 1.2rem;
    width: calc((100% - 6 * 2.4rem) / 6); }
  .xs\:col-1 {
    margin: 0 1.2rem;
    width: calc((100% - 12 * 2.4rem) / 12); } }

html {
  font-size: 62.5%; }

.section {
  padding-top: 6.9rem;
  padding-bottom: 6.9rem; }

.u-margin-b-ss {
  margin-bottom: 1.2rem; }

.u-margin-b-s {
  margin-bottom: 1.8rem; }

.u-margin-b-m {
  margin-bottom: 2.4rem; }

.u-margin-b-b {
  margin-bottom: 3.6rem; }

.t-cn {
  text-align: center; }

.t-l {
  text-align: left; }

.t-r {
  text-align: right; }

.form {
  font-size: 0; }
  .form-wrapper {
    max-width: 784px;
    padding: 7.8rem 9.6rem 3.9rem;
    margin: 0 auto;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 0 0 1px #0000aa; }
  .form__input {
    background: #ccc;
    border: none;
    padding: 1.2rem 0;
    padding-left: 1.2rem;
    margin-bottom: 2.1rem; }
    .form__input:focus {
      outline: 1px solid; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  padding: 1.2rem, 1.8rem; }
