@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0); }
  10% {
    transform: scale(1.1, 0.9) translateY(0); }
  30% {
    transform: scale(0.9, 1.1) translateY(-60px); }
  50% {
    transform: scale(1.05, 0.95) translateY(0px); }
  57% {
    transform: scale(1, 1) translateY(-7px); }
  64% {
    transform: scale(1, 1) translateY(0px); }
  100% {
    transform: scale(1, 1) translateY(0px); } }

@keyframes bounce-shadow {
  0% {
    transform: scale(1, 1) rotateX(45deg);
    opacity: .9; }
  10% {
    transform: scale(1.1, 0.9) rotateX(45deg);
    opacity: 1; }
  30% {
    transform: scale(0.7, 1.2) rotateX(45deg);
    opacity: .6; }
  50% {
    transform: scale(0.95, 1.05) rotateX(45deg);
    opacity: .8; }
  57% {
    transform: scale(0.9, 1) rotateX(45deg);
    opacity: .75; }
  64% {
    transform: scale(1, 1) rotateX(45deg);
    opacity: .9; }
  100% {
    transform: scale(1, 1) rotateX(45deg);
    opacity: .9; } }

.col-12 {
  margin: 0 1.2rem;
  width: calc((100% - 1 * 2.4rem) / 1); }

.col-6 {
  margin: 0 1.2rem;
  width: calc((100% - 2 * 2.4rem) / 2); }

.col-4 {
  margin: 0 1.2rem;
  width: calc((100% - 3 * 2.4rem) / 3); }

.col-3 {
  margin: 0 1.2rem;
  width: calc((100% - 4 * 2.4rem) / 4); }

.col-2 {
  margin: 0 1.2rem;
  width: calc((100% - 6 * 2.4rem) / 6); }

.col-1 {
  margin: 0 1.2rem;
  width: calc((100% - 12 * 2.4rem) / 12); }

@media only screen and (min-width: 320px) {
  .xs\:col-12 {
    margin: 0 1.2rem;
    width: calc((100% - 1 * 2.4rem) / 1); }
  .xs\:col-6 {
    margin: 0 1.2rem;
    width: calc((100% - 2 * 2.4rem) / 2); }
  .xs\:col-4 {
    margin: 0 1.2rem;
    width: calc((100% - 3 * 2.4rem) / 3); }
  .xs\:col-3 {
    margin: 0 1.2rem;
    width: calc((100% - 4 * 2.4rem) / 4); }
  .xs\:col-2 {
    margin: 0 1.2rem;
    width: calc((100% - 6 * 2.4rem) / 6); }
  .xs\:col-1 {
    margin: 0 1.2rem;
    width: calc((100% - 12 * 2.4rem) / 12); } }

@media only screen and (min-width: 768px) {
  .md\:col-12 {
    margin: 0 1.2rem;
    width: calc((100% - 1 * 2.4rem) / 1); }
  .md\:col-6 {
    margin: 0 1.2rem;
    width: calc((100% - 2 * 2.4rem) / 2); }
  .md\:col-4 {
    margin: 0 1.2rem;
    width: calc((100% - 3 * 2.4rem) / 3); }
  .md\:col-3 {
    margin: 0 1.2rem;
    width: calc((100% - 4 * 2.4rem) / 4); }
  .md\:col-2 {
    margin: 0 1.2rem;
    width: calc((100% - 6 * 2.4rem) / 6); }
  .md\:col-1 {
    margin: 0 1.2rem;
    width: calc((100% - 12 * 2.4rem) / 12); } }

@media only screen and (min-width: 480px) {
  .sm\:col-12 {
    margin: 0 1.2rem;
    width: calc((100% - 1 * 2.4rem) / 1); }
  .sm\:col-6 {
    margin: 0 1.2rem;
    width: calc((100% - 2 * 2.4rem) / 2); }
  .sm\:col-4 {
    margin: 0 1.2rem;
    width: calc((100% - 3 * 2.4rem) / 3); }
  .sm\:col-3 {
    margin: 0 1.2rem;
    width: calc((100% - 4 * 2.4rem) / 4); }
  .sm\:col-2 {
    margin: 0 1.2rem;
    width: calc((100% - 6 * 2.4rem) / 6); }
  .sm\:col-1 {
    margin: 0 1.2rem;
    width: calc((100% - 12 * 2.4rem) / 12); } }

@media only screen and (min-width: 960px) {
  .lg\:col-12 {
    margin: 0 1.2rem;
    width: calc((100% - 1 * 2.4rem) / 1); }
  .lg\:col-6 {
    margin: 0 1.2rem;
    width: calc((100% - 2 * 2.4rem) / 2); }
  .lg\:col-4 {
    margin: 0 1.2rem;
    width: calc((100% - 3 * 2.4rem) / 3); }
  .lg\:col-3 {
    margin: 0 1.2rem;
    width: calc((100% - 4 * 2.4rem) / 4); }
  .lg\:col-2 {
    margin: 0 1.2rem;
    width: calc((100% - 6 * 2.4rem) / 6); }
  .lg\:col-1 {
    margin: 0 1.2rem;
    width: calc((100% - 12 * 2.4rem) / 12); } }

@media only screen and (min-width: 1440px) {
  .xl\:col-12 {
    margin: 0 1.2rem;
    width: calc((100% - 1 * 2.4rem) / 1); }
  .xl\:col-6 {
    margin: 0 1.2rem;
    width: calc((100% - 2 * 2.4rem) / 2); }
  .xl\:col-4 {
    margin: 0 1.2rem;
    width: calc((100% - 3 * 2.4rem) / 3); }
  .xl\:col-3 {
    margin: 0 1.2rem;
    width: calc((100% - 4 * 2.4rem) / 4); }
  .xl\:col-2 {
    margin: 0 1.2rem;
    width: calc((100% - 6 * 2.4rem) / 6); }
  .xl\:col-1 {
    margin: 0 1.2rem;
    width: calc((100% - 12 * 2.4rem) / 12); } }

html {
  font-size: 62.5%; }

.section {
  padding-top: 3.3rem;
  padding-bottom: 3.3rem; }
  .section-form--health {
    background: url("../../img/bk/form-health-bg.png") no-repeat center/cover; }

img {
  vertical-align: middle; }

@media only screen and (min-width: 960px) {
  .section {
    padding-top: 6.9rem;
    padding-bottom: 6.9rem; } }

.u-margin-b-ss {
  margin-bottom: 1.2rem; }

.u-margin-b-s {
  margin-bottom: 1.8rem; }

.u-margin-b-m {
  margin-bottom: 2.4rem; }

.u-margin-b-b {
  margin-bottom: 3.6rem; }

.t-cn {
  text-align: center; }

.t-l {
  text-align: left; }

.t-r {
  text-align: right; }

@media only screen and (min-width: 320px) {
  .xs\:t-cn {
    text-align: center; }
  .xs\:t-l {
    text-align: left; }
  .xs\:t-r {
    text-align: right; } }

@media only screen and (min-width: 768px) {
  .md\:t-cn {
    text-align: center; }
  .md\:t-l {
    text-align: left; }
  .md\:t-r {
    text-align: right; } }

@media only screen and (min-width: 480px) {
  .sm\:t-cn {
    text-align: center; }
  .sm\:t-l {
    text-align: left; }
  .sm\:t-r {
    text-align: right; } }

@media only screen and (min-width: 960px) {
  .lg\:t-cn {
    text-align: center; }
  .lg\:t-l {
    text-align: left; }
  .lg\:t-r {
    text-align: right; } }

@media only screen and (min-width: 1440px) {
  .xl\:t-cn {
    text-align: center; }
  .xl\:t-l {
    text-align: left; }
  .xl\:t-r {
    text-align: right; } }

.header {
  padding: 2.1rem 0;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 1.2rem;
  background-color: #d6251f; }
  .header__logo-box {
    max-width: 240px;
    margin: 0 auto;
    margin-bottom: 2.1rem; }
    .header__logo-box > img {
      width: 100%; }
  .header__nav {
    font-size: 0;
    white-space: nowrap;
    overflow-x: scroll; }
    .header__nav > a:link, .header__nav > a:visited {
      position: relative;
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.5rem;
      text-decoration: none;
      color: white;
      padding: 1.5rem 2.1rem;
      padding-bottom: 1.2rem; }
      .header__nav > a:link.choose, .header__nav > a:visited.choose {
        color: #fffc00; }
  @media only screen and (min-width: 620px) {
    .header {
      padding-bottom: 0; }
      .header__nav {
        white-space: normal;
        overflow: auto;
        text-align: center; }
        .header__nav > a:link, .header__nav > a:visited {
          padding: 0.9rem 2.1rem;
          margin-bottom: 2.1rem; }
        .header__nav > a::after, .header__nav > a::before {
          content: ''; }
        .header__nav > a:last-child::after {
          content: none; }
        .header__nav > a::after {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 0;
          height: 0;
          padding: .6rem .06rem;
          background: #fff; }
        .header__nav > a.choose::before {
          position: absolute;
          left: 0;
          right: 0;
          bottom: -2.1rem;
          height: 0;
          padding: .06rem 0;
          background: #f5d932; } }
  @media only screen and (min-width: 960px) {
    .header {
      padding: 2.1rem 6%;
      padding-bottom: 0; }
      .header::after {
        content: '';
        display: block;
        clear: both; }
      .header__logo-box {
        max-width: 300px;
        float: left;
        margin-bottom: 0; }
      .header__nav {
        text-align: right; }
        .header__nav a:link, .header__nav a:visited {
          padding-left: 1.2rem;
          padding-right: 1.2rem;
          margin-bottom: 1.2rem; }
        .header__nav a.choose::before {
          bottom: -1.2rem;
          padding: .14rem 0; } }
  @media only screen and (min-width: 1440px) {
    .header {
      padding-left: 15%;
      padding-right: 15%; } }
  @media only screen and (min-width: 1920px) {
    .header {
      padding: 1.8rem 0;
      padding-left: 21%;
      padding-right: 21%; }
      .header__logo-box {
        max-width: none; }
      .header__nav a:link, .header__nav a:visited {
        padding-left: 2.1rem;
        padding-right: 2.1rem;
        letter-spacing: 1px; } }

.banner {
  padding: 0 1.2rem;
  padding-top: 4.2rem;
  background: url("../../img/bk/kv-image-bg-xs-3.png") no-repeat top left/12rem, url("../../img/bk/kv-image-bg-xs-4.png") no-repeat right top/6rem, #f0f0f0; }
  .banner__title-box {
    max-width: 285px;
    margin: 0 auto; }
    .banner__title-box > img {
      width: 100%; }
  .banner__bk-xs {
    margin: 0 -1.2rem; }
    .banner__bk-xs > img {
      width: 100%; }
  @media only screen and (min-width: 480px) {
    .banner__title-box {
      max-width: 320px; } }
  @media only screen and (min-width: 620px) {
    .banner {
      padding-bottom: 24rem;
      background: url("../../img/bk/kv-image-bg.png") no-repeat center/cover; }
      .banner__title-box {
        margin: 0; }
      .banner__bk-xs {
        display: none; } }
  @media only screen and (min-width: 768px) {
    .banner__title-box {
      max-width: 360px;
      margin-left: 5.1%; } }
  @media only screen and (min-width: 960px) {
    .banner {
      padding-bottom: 33rem; }
      .banner__title-box {
        max-width: 420px;
        margin-left: 9%; } }
  @media only screen and (min-width: 1440px) {
    .banner {
      padding-bottom: 33rem; }
      .banner__title-box {
        max-width: 538px;
        margin-left: 12%; } }
  @media only screen and (min-width: 1600px) {
    .banner__title-box {
      margin-left: 18%; } }
  @media only screen and (min-width: 1920px) {
    .banner__title-box {
      margin-left: 23%; } }

.advantage {
  position: relative;
  z-index: 0; }
  .advantage::after {
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../../img/bk/advantage-bg-sm.png") no-repeat left center/cover;
    opacity: .3; }
  .advantage__title-box {
    max-width: 27rem;
    margin: 0 auto;
    margin-bottom: 3rem; }
    .advantage__title-box > img {
      width: 100%; }
  .advantage-content {
    padding: 0 6%; }
    .advantage-content::after {
      content: '';
      display: block;
      clear: both; }
    .advantage-content__icon-box {
      float: left;
      max-width: 7.4rem;
      margin-right: 1.2rem; }
      .advantage-content__icon-box > img {
        width: 100%; }
    .advantage-content-group {
      margin-bottom: 4.2rem; }
      .advantage-content-group:last-child {
        margin-bottom: 0; }
    .advantage-content__title, .advantage-content__descrip {
      overflow: hidden; }
    .advantage-content__title {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.4rem;
      color: #d6251f;
      margin-bottom: 0.6rem;
      padding: 1.5rem 0;
      min-height: 48px;
      letter-spacing: .6px; }
    .advantage-content__descrip {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 2.25rem; }
      .advantage-content__descrip > br {
        display: none; }
  @media only screen and (min-width: 480px) {
    .advantage::after {
      background-size: contain; }
    .advantage-content__title {
      padding: 0;
      min-height: 0; } }
  @media only screen and (min-width: 768px) {
    .advantage::after {
      background: url("../../img/bk/advantage-bg.png") no-repeat left top/cover; }
    .advantage__title-box {
      max-width: 33rem; }
    .advantage-content {
      padding: 0;
      max-width: 600px;
      margin: 0 auto; }
      .advantage-content__icon-box {
        max-width: 9.6rem;
        margin-right: 3rem; }
      .advantage-content__title {
        min-height: 0;
        margin-bottom: 0;
        padding: 1.2rem 0; } }
  @media only screen and (min-width: 960px) {
    .advantage::after {
      opacity: .9; }
    .advantage__title-box {
      max-width: 42rem; }
    .advantage-content {
      max-width: 69rem; }
      .advantage-content__icon-box {
        max-width: 12rem; }
      .advantage-content__title {
        padding-top: 2.1rem; }
      .advantage-content__descrip {
        line-height: 1.6; } }
  @media only screen and (min-width: 1440px) {
    .advantage::after {
      opacity: 1; }
    .advantage__title-box {
      max-width: none;
      text-align: center; }
      .advantage__title-box > img {
        width: auto; }
    .advantage-content-group {
      margin-bottom: 6rem; }
    .advantage-content__icon-box {
      max-width: none; } }

.resume {
  position: relative;
  z-index: 0;
  overflow: hidden; }
  .resume::before, .resume::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1; }
  .resume::before {
    background: radial-gradient(circle at left top, #faeb99 0%, #faeb99 18%, transparent 18%), radial-gradient(circle at right top, #faeb99 0%, #faeb99 12%, transparent 12%), radial-gradient(circle at left center, #faeb99 0%, #faeb99 9%, transparent 9%), radial-gradient(circle at 15% bottom, #faeb99 0%, #faeb99 6%, transparent 6%), radial-gradient(circle at right bottom, #faeb99 0%, #faeb99 3%, transparent 3%) #f5d932;
    opacity: 1; }
  .resume::after {
    background: linear-gradient(to right, #faeb99, #faeb99 5%, transparent 5%, transparent 10%, #faeb99 10%, #faeb99 15%, transparent 15%, transparent 20%, #faeb99 20%, #faeb99 25%, transparent 25%, transparent 30%, #faeb99 30%, #faeb99 35%, transparent 35%, transparent 40%, #faeb99 40%, #faeb99 45%, transparent 45%, transparent 50%, #faeb99 50%, #faeb99 55%, transparent 55%, transparent 60%, #faeb99 60%, #faeb99 65%, transparent 65%, transparent 70%, #faeb99 70%, #faeb99 75%, transparent 75%, transparent 80%, #faeb99 80%, #faeb99 85%, transparent 85%, transparent 90%, #faeb99 90%, #faeb99 95%, transparent 95%) no-repeat right top/120% 30%, linear-gradient(to right, #faeb99, #faeb99 5%, transparent 5%, transparent 10%, #faeb99 10%, #faeb99 15%, transparent 15%, transparent 20%, #faeb99 20%, #faeb99 25%, transparent 25%, transparent 30%, #faeb99 30%, #faeb99 35%, transparent 35%, transparent 40%, #faeb99 40%, #faeb99 45%, transparent 45%, transparent 50%, #faeb99 50%, #faeb99 55%, transparent 55%, transparent 60%, #faeb99 60%, #faeb99 65%, transparent 65%, transparent 70%, #faeb99 70%, #faeb99 75%, transparent 75%, transparent 80%, #faeb99 80%, #faeb99 85%, transparent 85%, transparent 90%, #faeb99 90%, #faeb99 95%, transparent 95%) no-repeat left bottom/100% 30%;
    transform: rotate(45deg); }
  .resume__title-box {
    max-width: 24rem;
    margin: 0 auto;
    margin-bottom: 1.8rem; }
    .resume__title-box > img {
      width: 100%; }
  .resume-content {
    max-width: 30rem;
    margin: 0 auto; }
  .resume__ill-list {
    margin-bottom: 3rem; }
  .resume__ill::after {
    content: '';
    display: block;
    clear: both; }
  .resume__ill__icon-box {
    float: left;
    max-width: 125px;
    margin-right: 1.2rem; }
    .resume__ill__icon-box > img {
      width: 100%; }
  .resume__ill__content {
    position: relative;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
    overflow: hidden;
    padding: 4.5rem 0;
    padding-left: 2.4rem; }
    .resume__ill__content::before {
      content: '';
      position: absolute;
      left: 0;
      top: 4.8rem;
      width: 1.8rem;
      height: 1.8rem;
      background: url("../../img/icon/icon-praise.png") no-repeat center/cover; }
  .resume__ill:nth-child(even) > .resume__ill__icon-box {
    float: right;
    margin: 0;
    margin-left: 1.2rem; }
  .resume__location-box {
    max-width: 27rem;
    margin: 0 auto;
    margin-bottom: 1.2rem; }
    .resume__location-box > img {
      width: 100%; }
  .resume__stroke-box {
    max-width: 30rem;
    margin: 2.1rem auto; }
    .resume__stroke-box > img {
      width: 100%; }
  @media only screen and (min-width: 480px) {
    .resume {
      background: url("../../img/bk/stroke-bg.png") no-repeat center/cover; }
      .resume::after, .resume::before {
        content: none; }
      .resume__title-box {
        max-width: 33rem; }
      .resume-content {
        max-width: 39rem; }
      .resume__ill__content {
        padding-left: 0; }
        .resume__ill__content::before {
          position: static;
          display: inline-block;
          vertical-align: middle;
          margin-right: 0.6rem; }
      .resume__ill:nth-child(even) > .resume__ill__content {
        text-align: right; }
      .resume__location-box {
        max-width: 39rem; }
      .resume__stroke-box {
        max-width: 42rem; } }
  @media only screen and (min-width: 600px) {
    .resume__title-box {
      max-width: 36rem; }
    .resume-content {
      max-width: 48rem; }
    .resume__ill {
      margin-left: 15%; }
      .resume__ill:nth-child(even) > .resume__ill__icon-box {
        float: left;
        margin: 0;
        margin-right: 1.2rem; }
      .resume__ill:nth-child(even) > .resume__ill__content {
        padding-left: 0;
        text-align: left; } }
  @media only screen and (min-width: 768px) {
    .resume__title-box {
      max-width: 42rem; }
    .resume-content {
      max-width: 66rem; }
    .resume__ill-list::after {
      content: '';
      display: block;
      clear: both; }
    .resume__ill {
      float: left;
      margin-left: 0;
      margin-right: 1rem;
      width: calc((100% - 2 * 1rem) / 3);
      text-align: center; }
      .resume__ill:nth-child(3n) {
        margin-right: 0; }
      .resume__ill__icon-box {
        display: inline-block;
        min-height: 13.5rem;
        float: none;
        margin: 0;
        margin-bottom: 1.2rem; }
      .resume__ill__content {
        padding: 0; }
      .resume__ill:nth-child(even) > .resume__ill__icon-box {
        float: none;
        margin: 0;
        min-height: 13.5rem;
        margin-bottom: 1.2rem; }
      .resume__ill:nth-child(even) > .resume__ill__content {
        text-align: center; }
    .resume-content-group {
      padding: 0 6%; }
      .resume-content-group::after {
        content: '';
        display: block;
        clear: both; }
    .resume__location-box {
      margin-bottom: 0;
      float: left; }
    .resume__stroke-box {
      max-width: 45rem; } }
  @media only screen and (min-width: 960px) {
    .resume-content {
      max-width: 76.8rem; }
      .resume-content-group {
        padding: 0 9%; }
    .resume__ill__icon-box {
      max-width: 15rem;
      min-height: 16.1rem; }
    .resume:nth-child(even) > .resume__ill__icon-box {
      max-width: 15rem;
      min-height: 16rem; }
    .resume__stroke-box {
      max-width: 51rem; } }
  @media only screen and (min-width: 1440px) {
    .resume-content {
      max-width: 90rem; }
      .resume-content-group {
        padding: 0; }
    .resume__ill__icon-box {
      max-width: none;
      min-height: 26rem; }
      .resume__ill__icon-box > img {
        width: auto; }
    .resume__ill__content {
      font-size: 2.1rem;
      font-weight: 400;
      line-height: 2.1rem; }
    .resume__ill:nth-child(even) > .resume__ill__icon-box {
      max-width: none;
      min-height: 26rem; }
    .resume__location-box {
      max-width: 60rem; }
    .resume__stroke-box {
      max-width: 72rem; } }

.table--resume {
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 0 1px #626262;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.1rem; }
  .table--resume tr {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  .table--resume th, .table--resume td {
    letter-spacing: .6px; }
  .table--resume tbody tr {
    box-shadow: 0 0 0 1px #626262; }
    .table--resume tbody tr:nth-child(odd) {
      background: #f5f5f5; }
    .table--resume tbody tr:nth-child(even) {
      background: #e0e0e0; }
  .table--resume tbody td {
    position: relative;
    padding: 1.5rem 0;
    flex-basis: 50%;
    text-align: center; }
    .table--resume tbody td:first-child {
      flex-basis: 100%;
      box-shadow: 0 0 0 1px #000; }
      .table--resume tbody td:first-child::after {
        content: attr(data-type); }
        .table--resume tbody td:first-child::after.import {
          color: #cb0700; }
    .table--resume tbody td:nth-child(3)::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0;
      padding: 0 .06rem;
      background: #000; }
    .table--resume tbody td:nth-child(4) {
      display: none; }
  .table--resume thead {
    background: #d6251f;
    color: #fff; }
    .table--resume thead th {
      flex-basis: 50%;
      padding: 1.2rem 0; }
    .table--resume thead th:first-child {
      flex-basis: 100%; }
      .table--resume thead th:first-child::after {
        content: attr(data-type); }
    .table--resume thead th:last-child {
      display: none; }

.table td.import {
  color: #cb0700; }

@media only screen and (min-width: 960px) {
  .table--resume {
    max-width: 90rem; }
    .table--resume tr {
      display: table-row; }
    .table--resume thead th {
      box-shadow: none; }
      .table--resume thead th:first-child::after {
        content: none; }
      .table--resume thead th:last-child {
        display: table-cell; }
    .table--resume tbody td {
      box-shadow: 0 0 0 0.3px #000; }
      .table--resume tbody td:first-child {
        box-shadow: 0 0 0 0.1px #000; }
        .table--resume tbody td:first-child::after {
          content: none; }
        .table--resume tbody td:first-child.import {
          color: #000; }
      .table--resume tbody td:nth-child(2), .table--resume tbody td:nth-child(3) {
        padding-left: 3.6rem;
        text-align: left; }
      .table--resume tbody td:nth-child(3)::before {
        content: none; }
      .table--resume tbody td:nth-child(4) {
        display: table-cell; } }

@media only screen and (min-width: 1440px) {
  .table tbody td:nth-child(2) {
    padding-left: 6rem; } }

.form {
  text-align: center; }
  .form::after {
    content: '';
    display: block;
    clear: both; }
  .form-wrapper {
    position: relative;
    z-index: 0;
    max-width: 984px;
    padding-top: 2.4rem;
    padding-bottom: 1.8rem;
    margin: 0 auto;
    border-radius: 3px; }
    .form-wrapper::after {
      content: ''; }
  .form__container, .form__label {
    float: left;
    margin-bottom: 2.1rem;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #000; }
  .form__label {
    position: relative; }
    .form__label > .tag {
      position: absolute;
      left: 1.2rem;
      top: 0;
      bottom: 0;
      margin: auto;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.2rem;
      line-height: 3.3rem; }
  .form__input {
    border: none;
    width: 100%;
    padding: 0.9rem 0; }
    .form__input--text {
      padding-left: 4.8rem; }
    .form__input--email {
      padding-left: 7.2rem; }
    .form__input--school {
      padding-left: 6.6rem; }
    .form__input--master {
      padding-left: 7.5rem; }
    .form__input--status {
      display: none; }
      .form__input--status:checked ~ .form__lb--StatusRadio > .radio-box::after, .form__input--status:checked ~ .form__lb--StatusRadio > .radio-box::before {
        content: ''; }
      .form__input--status:checked ~ .form__lb--select {
        pointer-events: auto;
        opacity: 1; }
  .form__select {
    width: 100%;
    padding: 0.9rem 0;
    border: none;
    background: #fff; }
  .form__container {
    box-shadow: none; }
    .form__container > span {
      display: block;
      margin-bottom: 1.2rem; }
    .form__container-group {
      display: flex;
      align-items: center;
      margin-bottom: 2.1rem; }
  .form__lb--StatusRadio {
    position: relative;
    text-align: left;
    padding-left: 3.3rem;
    margin-right: 1.2rem; }
    .form__lb--StatusRadio > .radio-box {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      left: 1.2rem;
      width: 1.5rem;
      height: 1.5rem;
      box-shadow: 0 0 0 1px #000; }
      .form__lb--StatusRadio > .radio-box::after, .form__lb--StatusRadio > .radio-box::before {
        position: absolute;
        top: 0;
        width: .3rem;
        background: #000; }
      .form__lb--StatusRadio > .radio-box::after {
        height: 1.2rem;
        right: .3rem;
        transform: rotate(45deg); }
      .form__lb--StatusRadio > .radio-box::before {
        height: .75rem;
        top: .5rem;
        left: .21rem;
        transform: rotate(-45deg); }
  .form__lb--select {
    flex-grow: 1;
    box-shadow: 0 0 0 1px #000;
    border-radius: 3px;
    opacity: .3;
    pointer-events: none; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  padding: 1.2rem, 1.8rem; }

.btn--primary:link, .btn--primary:visited {
  box-shadow: 0 0 0 1px #cd0000;
  color: #fff;
  background: #d6251f;
  padding: 0.9rem 2.7rem;
  border-radius: 3px;
  letter-spacing: .6px; }

@media only screen and (min-width: 600px) {
  .btn--primary:link, .btn--primary:visited {
    padding: 1.2rem 3rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem; } }

@media only screen and (min-width: 768px) {
  .btn--primary:link, .btn--primary:visited {
    padding: 0.9rem 2.7rem;
    margin-top: 2.1rem; } }

@media only screen and (min-width: 1440px) {
  .btn--primary:link, .btn--primary:visited {
    margin-top: 4.6rem;
    border-radius: 0;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8rem; } }
