@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0); }
  10% {
    transform: scale(1.1, 0.9) translateY(0); }
  30% {
    transform: scale(0.9, 1.1) translateY(-60px); }
  50% {
    transform: scale(1.05, 0.95) translateY(0px); }
  57% {
    transform: scale(1, 1) translateY(-7px); }
  64% {
    transform: scale(1, 1) translateY(0px); }
  100% {
    transform: scale(1, 1) translateY(0px); } }

@keyframes bounce-shadow {
  0% {
    transform: scale(1, 1) rotateX(45deg);
    opacity: .9; }
  10% {
    transform: scale(1.1, 0.9) rotateX(45deg);
    opacity: 1; }
  30% {
    transform: scale(0.7, 1.2) rotateX(45deg);
    opacity: .6; }
  50% {
    transform: scale(0.95, 1.05) rotateX(45deg);
    opacity: .8; }
  57% {
    transform: scale(0.9, 1) rotateX(45deg);
    opacity: .75; }
  64% {
    transform: scale(1, 1) rotateX(45deg);
    opacity: .9; }
  100% {
    transform: scale(1, 1) rotateX(45deg);
    opacity: .9; } }

@keyframes ring-ball-an-1 {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.ring::before, .ring__ball-1::after, .ring__ball-1::before, .ring__ball-2::after, .ring__ball-2::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.ring__ball-1, .ring__ball-2 {
  animation-name: ring-ball-an-1;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.col-12 {
  margin: 0 1.2rem;
  width: calc((100% - 1 * 2.4rem) / 1); }

.col-6 {
  margin: 0 1.2rem;
  width: calc((100% - 2 * 2.4rem) / 2); }

.col-4 {
  margin: 0 1.2rem;
  width: calc((100% - 3 * 2.4rem) / 3); }

.col-3 {
  margin: 0 1.2rem;
  width: calc((100% - 4 * 2.4rem) / 4); }

.col-2 {
  margin: 0 1.2rem;
  width: calc((100% - 6 * 2.4rem) / 6); }

.col-1 {
  margin: 0 1.2rem;
  width: calc((100% - 12 * 2.4rem) / 12); }

@media only screen and (min-width: 320px) {
  .xs\:col-12 {
    margin: 0 1.2rem;
    width: calc((100% - 1 * 2.4rem) / 1); }
  .xs\:col-6 {
    margin: 0 1.2rem;
    width: calc((100% - 2 * 2.4rem) / 2); }
  .xs\:col-4 {
    margin: 0 1.2rem;
    width: calc((100% - 3 * 2.4rem) / 3); }
  .xs\:col-3 {
    margin: 0 1.2rem;
    width: calc((100% - 4 * 2.4rem) / 4); }
  .xs\:col-2 {
    margin: 0 1.2rem;
    width: calc((100% - 6 * 2.4rem) / 6); }
  .xs\:col-1 {
    margin: 0 1.2rem;
    width: calc((100% - 12 * 2.4rem) / 12); } }

@media only screen and (min-width: 768px) {
  .md\:col-12 {
    margin: 0 1.2rem;
    width: calc((100% - 1 * 2.4rem) / 1); }
  .md\:col-6 {
    margin: 0 1.2rem;
    width: calc((100% - 2 * 2.4rem) / 2); }
  .md\:col-4 {
    margin: 0 1.2rem;
    width: calc((100% - 3 * 2.4rem) / 3); }
  .md\:col-3 {
    margin: 0 1.2rem;
    width: calc((100% - 4 * 2.4rem) / 4); }
  .md\:col-2 {
    margin: 0 1.2rem;
    width: calc((100% - 6 * 2.4rem) / 6); }
  .md\:col-1 {
    margin: 0 1.2rem;
    width: calc((100% - 12 * 2.4rem) / 12); } }

@media only screen and (min-width: 480px) {
  .sm\:col-12 {
    margin: 0 1.2rem;
    width: calc((100% - 1 * 2.4rem) / 1); }
  .sm\:col-6 {
    margin: 0 1.2rem;
    width: calc((100% - 2 * 2.4rem) / 2); }
  .sm\:col-4 {
    margin: 0 1.2rem;
    width: calc((100% - 3 * 2.4rem) / 3); }
  .sm\:col-3 {
    margin: 0 1.2rem;
    width: calc((100% - 4 * 2.4rem) / 4); }
  .sm\:col-2 {
    margin: 0 1.2rem;
    width: calc((100% - 6 * 2.4rem) / 6); }
  .sm\:col-1 {
    margin: 0 1.2rem;
    width: calc((100% - 12 * 2.4rem) / 12); } }

@media only screen and (min-width: 960px) {
  .lg\:col-12 {
    margin: 0 1.2rem;
    width: calc((100% - 1 * 2.4rem) / 1); }
  .lg\:col-6 {
    margin: 0 1.2rem;
    width: calc((100% - 2 * 2.4rem) / 2); }
  .lg\:col-4 {
    margin: 0 1.2rem;
    width: calc((100% - 3 * 2.4rem) / 3); }
  .lg\:col-3 {
    margin: 0 1.2rem;
    width: calc((100% - 4 * 2.4rem) / 4); }
  .lg\:col-2 {
    margin: 0 1.2rem;
    width: calc((100% - 6 * 2.4rem) / 6); }
  .lg\:col-1 {
    margin: 0 1.2rem;
    width: calc((100% - 12 * 2.4rem) / 12); } }

@media only screen and (min-width: 1440px) {
  .xl\:col-12 {
    margin: 0 1.2rem;
    width: calc((100% - 1 * 2.4rem) / 1); }
  .xl\:col-6 {
    margin: 0 1.2rem;
    width: calc((100% - 2 * 2.4rem) / 2); }
  .xl\:col-4 {
    margin: 0 1.2rem;
    width: calc((100% - 3 * 2.4rem) / 3); }
  .xl\:col-3 {
    margin: 0 1.2rem;
    width: calc((100% - 4 * 2.4rem) / 4); }
  .xl\:col-2 {
    margin: 0 1.2rem;
    width: calc((100% - 6 * 2.4rem) / 6); }
  .xl\:col-1 {
    margin: 0 1.2rem;
    width: calc((100% - 12 * 2.4rem) / 12); } }

html {
  font-size: 62.5%; }

.section {
  padding-top: 3.3rem;
  padding-bottom: 3.3rem; }
  .section-form__title-box {
    max-width: 24rem;
    margin: 0 auto;
    margin-bottom: 3rem; }
    .section-form__title-box > img {
      width: 100%; }

img {
  vertical-align: middle; }

@media only screen and (min-width: 480px) {
  .section-form__title-box {
    max-width: 27rem; } }

@media only screen and (min-width: 960px) {
  .section {
    padding-top: 6.9rem;
    padding-bottom: 6.9rem; }
    .section-form__title-box {
      max-width: 36rem; } }

@media only screen and (min-width: 1440px) {
  .section-form__title-box {
    max-width: none;
    text-align: center; }
    .section-form__title-box > img {
      width: auto; } }

.u-margin-b-ss {
  margin-bottom: 1.2rem; }

.u-margin-b-s {
  margin-bottom: 1.8rem; }

.u-margin-b-m {
  margin-bottom: 2.4rem; }

.u-margin-b-b {
  margin-bottom: 3.6rem; }

.t-cn {
  text-align: center; }

.t-l {
  text-align: left; }

.t-r {
  text-align: right; }

@media only screen and (min-width: 320px) {
  .xs\:t-cn {
    text-align: center; }
  .xs\:t-l {
    text-align: left; }
  .xs\:t-r {
    text-align: right; } }

@media only screen and (min-width: 768px) {
  .md\:t-cn {
    text-align: center; }
  .md\:t-l {
    text-align: left; }
  .md\:t-r {
    text-align: right; } }

@media only screen and (min-width: 480px) {
  .sm\:t-cn {
    text-align: center; }
  .sm\:t-l {
    text-align: left; }
  .sm\:t-r {
    text-align: right; } }

@media only screen and (min-width: 960px) {
  .lg\:t-cn {
    text-align: center; }
  .lg\:t-l {
    text-align: left; }
  .lg\:t-r {
    text-align: right; } }

@media only screen and (min-width: 1440px) {
  .xl\:t-cn {
    text-align: center; }
  .xl\:t-l {
    text-align: left; }
  .xl\:t-r {
    text-align: right; } }

.u-text-white {
  color: #fff; }

.ring::before {
  content: '';
  border-radius: 50%;
  box-shadow: inset 0.3rem -0.1rem 0 0.2rem #fa0e06, inset -0.2rem -0.01rem 0 0.3rem #97120e, 0 0 0 0.15rem #fff, 0 0 0 0.27rem #97120e, 0 0 0 0.45rem #fff, 0 0 0 0.6rem #97120e, 0 0 0 0.75rem #fff, 0 0 0 0.9rem #97120e; }

.ring__ball-1 {
  position: absolute;
  left: .1rem;
  right: .1rem;
  top: .1rem;
  bottom: .1rem; }
  .ring__ball-1::after {
    content: '';
    background: radial-gradient(circle at center, #fa0e06, #fa0e06 0.6rem, transparent 0.6rem) no-repeat right bottom/1.2rem 1.2rem;
    transform: rotate(-15deg); }
  .ring__ball-1::before {
    content: '';
    background: radial-gradient(circle at center, #fa0e06, #fa0e06 0.5rem, transparent 0.5rem) no-repeat left top/1rem 1rem;
    transform: rotate(12deg); }

.ring__ball-2 {
  position: absolute;
  left: -.3rem;
  right: -.3rem;
  top: -.3rem;
  bottom: -.3rem;
  z-index: -1; }
  .ring__ball-2::after {
    content: '';
    background: radial-gradient(circle at center, #97120e, #97120e 0.7rem, transparent 0.7rem) no-repeat left top/1.4rem 1.4rem; }
  .ring__ball-2::before {
    content: '';
    position: absolute;
    left: -.21rem;
    right: -.21rem;
    top: -.21rem;
    bottom: -.21rem;
    background: radial-gradient(circle at center, #97120e, #97120e 0.9rem, transparent 0.9rem) no-repeat right bottom/2rem 2rem; }

@media only screen and (min-width: 960px) {
  .ring__ball-1 {
    left: 0.3rem;
    right: 0.3rem;
    top: 0.3rem;
    bottom: 0.3rem; }
  .ring__ball-2 {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; } }

@media only screen and (min-width: 1440px) {
  .ring__ball-1 {
    left: 0.6rem;
    right: 0.6rem;
    top: 0.6rem;
    bottom: 0.6rem; }
    .ring__ball-1::after {
      background: radial-gradient(circle at center, #fa0e06, #fa0e06 0.75rem, transparent 0.75rem) no-repeat right bottom/1.5rem 1.5rem; }
    .ring__ball-1::before {
      background: radial-gradient(circle at center, #fa0e06, #fa0e06 0.6rem, transparent 0.6rem) no-repeat left top/1.2rem 1.2rem; }
  .ring__ball-2 {
    left: 0.3rem;
    right: 0.3rem;
    top: 0.3rem;
    bottom: 0.3rem; }
    .ring__ball-2::after {
      background: radial-gradient(circle at center, #97120e, #97120e 0.9rem, transparent 0.9rem) no-repeat left top/1.8rem 1.8rem; }
    .ring__ball-2::before {
      background: radial-gradient(circle at center, #97120e, #97120e 1.2rem, transparent 1.2rem) no-repeat right bottom/2.4rem 2.4rem; } }

.header {
  padding: 2.1rem 0;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 1.2rem;
  background-color: #d6251f; }
  .header__logo-box {
    max-width: 240px;
    margin: 0 auto;
    margin-bottom: 2.1rem; }
    .header__logo-box > img {
      width: 100%; }
  .header__nav {
    font-size: 0;
    white-space: nowrap;
    overflow-x: scroll; }
    .header__nav > a:link, .header__nav > a:visited {
      position: relative;
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.5rem;
      text-decoration: none;
      color: white;
      padding: 1.5rem 2.1rem;
      padding-bottom: 1.2rem; }
      .header__nav > a:link.choose, .header__nav > a:visited.choose {
        color: #fffc00; }
  @media only screen and (min-width: 620px) {
    .header {
      padding-bottom: 0; }
      .header__nav {
        white-space: normal;
        overflow: auto;
        text-align: center; }
        .header__nav > a:link, .header__nav > a:visited {
          padding: 0.9rem 2.1rem;
          margin-bottom: 2.1rem; }
        .header__nav > a::after, .header__nav > a::before {
          content: ''; }
        .header__nav > a:last-child::after {
          content: none; }
        .header__nav > a::after {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 0;
          height: 0;
          padding: .6rem .06rem;
          background: #fff; }
        .header__nav > a.choose::before {
          position: absolute;
          left: 0;
          right: 0;
          bottom: -2.1rem;
          height: 0;
          padding: .06rem 0;
          background: #f5d932; } }
  @media only screen and (min-width: 960px) {
    .header {
      padding: 2.1rem 6%;
      padding-bottom: 0; }
      .header::after {
        content: '';
        display: block;
        clear: both; }
      .header__logo-box {
        max-width: 300px;
        float: left;
        margin-bottom: 0; }
      .header__nav {
        text-align: right; }
        .header__nav a:link, .header__nav a:visited {
          padding-left: 1.2rem;
          padding-right: 1.2rem;
          margin-bottom: 1.2rem; }
        .header__nav a.choose::before {
          bottom: -1.2rem;
          padding: .14rem 0; } }
  @media only screen and (min-width: 1440px) {
    .header {
      padding-left: 15%;
      padding-right: 15%; } }
  @media only screen and (min-width: 1920px) {
    .header {
      padding: 1.8rem 0;
      padding-left: 21%;
      padding-right: 21%; }
      .header__logo-box {
        max-width: none; }
      .header__nav a:link, .header__nav a:visited {
        padding-left: 2.1rem;
        padding-right: 2.1rem;
        letter-spacing: 1px; } }

.banner {
  padding: 0 1.2rem;
  padding-top: 4.2rem;
  background: url("../../img/bk/kv-image-bg-xs-3.png") no-repeat top left/12rem, url("../../img/bk/kv-image-bg-xs-4.png") no-repeat right top/6rem, #f0f0f0; }
  .banner__title-box {
    max-width: 285px;
    margin: 0 auto; }
    .banner__title-box > img {
      width: 100%; }
  .banner__bk-xs {
    margin: 0 -1.2rem; }
    .banner__bk-xs > img {
      width: 100%; }
  @media only screen and (min-width: 480px) {
    .banner__title-box {
      max-width: 320px; } }
  @media only screen and (min-width: 620px) {
    .banner {
      padding-bottom: 24rem;
      background: url("../../img/bk/kv-image-bg.png") no-repeat center/cover; }
      .banner__title-box {
        margin: 0; }
      .banner__bk-xs {
        display: none; } }
  @media only screen and (min-width: 768px) {
    .banner__title-box {
      max-width: 360px;
      margin-left: 5.1%; } }
  @media only screen and (min-width: 960px) {
    .banner {
      padding-bottom: 33rem; }
      .banner__title-box {
        max-width: 420px;
        margin-left: 9%; } }
  @media only screen and (min-width: 1440px) {
    .banner {
      padding-bottom: 33rem; }
      .banner__title-box {
        max-width: 538px;
        margin-left: 12%; } }
  @media only screen and (min-width: 1600px) {
    .banner__title-box {
      margin-left: 18%; } }
  @media only screen and (min-width: 1920px) {
    .banner__title-box {
      margin-left: 23%; } }

.advantage {
  position: relative;
  z-index: 0; }
  .advantage::after {
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../../img/bk/advantage-bg-sm.png") no-repeat left center/cover;
    opacity: .3; }
  .advantage__title-box {
    max-width: 27rem;
    margin: 0 auto;
    margin-bottom: 3rem; }
    .advantage__title-box > img {
      width: 100%; }
  .advantage-content {
    padding: 0 6%; }
    .advantage-content::after {
      content: '';
      display: block;
      clear: both; }
    .advantage-content__icon-box {
      float: left;
      max-width: 7.4rem;
      margin-right: 1.2rem; }
      .advantage-content__icon-box > img {
        width: 100%; }
    .advantage-content-group {
      margin-bottom: 4.2rem; }
      .advantage-content-group:last-child {
        margin-bottom: 0; }
    .advantage-content__title, .advantage-content__descrip {
      overflow: hidden; }
    .advantage-content__title {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.4rem;
      color: #d6251f;
      margin-bottom: 0.6rem;
      padding: 1.5rem 0;
      min-height: 48px;
      letter-spacing: .6px; }
    .advantage-content__descrip {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 2.25rem; }
      .advantage-content__descrip > br {
        display: none; }
  @media only screen and (min-width: 480px) {
    .advantage::after {
      background-size: contain; }
    .advantage-content__title {
      padding: 0;
      min-height: 0; } }
  @media only screen and (min-width: 768px) {
    .advantage::after {
      background: url("../../img/bk/advantage-bg.png") no-repeat left top/cover; }
    .advantage__title-box {
      max-width: 33rem; }
    .advantage-content {
      padding: 0;
      max-width: 600px;
      margin: 0 auto; }
      .advantage-content__icon-box {
        max-width: 9.6rem;
        margin-right: 3rem; }
      .advantage-content__title {
        min-height: 0;
        margin-bottom: 0;
        padding: 1.2rem 0; } }
  @media only screen and (min-width: 960px) {
    .advantage::after {
      opacity: .9; }
    .advantage__title-box {
      max-width: 42rem; }
    .advantage-content {
      max-width: 69rem; }
      .advantage-content__icon-box {
        max-width: 12rem; }
      .advantage-content__title {
        padding-top: 2.1rem; }
      .advantage-content__descrip {
        line-height: 1.6; } }
  @media only screen and (min-width: 1440px) {
    .advantage::after {
      opacity: 1; }
    .advantage__title-box {
      max-width: none;
      text-align: center; }
      .advantage__title-box > img {
        width: auto; }
    .advantage-content-group {
      margin-bottom: 6rem; }
    .advantage-content__icon-box {
      max-width: none; } }

.resume {
  position: relative;
  z-index: 0;
  overflow: hidden; }
  .resume::before, .resume::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1; }
  .resume::before {
    background: radial-gradient(circle at left top, #faeb99 0%, #faeb99 18%, transparent 18%), radial-gradient(circle at right top, #faeb99 0%, #faeb99 12%, transparent 12%), radial-gradient(circle at left center, #faeb99 0%, #faeb99 9%, transparent 9%), radial-gradient(circle at 15% bottom, #faeb99 0%, #faeb99 6%, transparent 6%), radial-gradient(circle at right bottom, #faeb99 0%, #faeb99 3%, transparent 3%) #f5d932;
    opacity: 1; }
  .resume::after {
    background: linear-gradient(to right, #faeb99, #faeb99 5%, transparent 5%, transparent 10%, #faeb99 10%, #faeb99 15%, transparent 15%, transparent 20%, #faeb99 20%, #faeb99 25%, transparent 25%, transparent 30%, #faeb99 30%, #faeb99 35%, transparent 35%, transparent 40%, #faeb99 40%, #faeb99 45%, transparent 45%, transparent 50%, #faeb99 50%, #faeb99 55%, transparent 55%, transparent 60%, #faeb99 60%, #faeb99 65%, transparent 65%, transparent 70%, #faeb99 70%, #faeb99 75%, transparent 75%, transparent 80%, #faeb99 80%, #faeb99 85%, transparent 85%, transparent 90%, #faeb99 90%, #faeb99 95%, transparent 95%) no-repeat right top/120% 30%, linear-gradient(to right, #faeb99, #faeb99 5%, transparent 5%, transparent 10%, #faeb99 10%, #faeb99 15%, transparent 15%, transparent 20%, #faeb99 20%, #faeb99 25%, transparent 25%, transparent 30%, #faeb99 30%, #faeb99 35%, transparent 35%, transparent 40%, #faeb99 40%, #faeb99 45%, transparent 45%, transparent 50%, #faeb99 50%, #faeb99 55%, transparent 55%, transparent 60%, #faeb99 60%, #faeb99 65%, transparent 65%, transparent 70%, #faeb99 70%, #faeb99 75%, transparent 75%, transparent 80%, #faeb99 80%, #faeb99 85%, transparent 85%, transparent 90%, #faeb99 90%, #faeb99 95%, transparent 95%) no-repeat left bottom/100% 30%;
    transform: rotate(45deg); }
  .resume__title-box {
    max-width: 24rem;
    margin: 0 auto;
    margin-bottom: 1.8rem; }
    .resume__title-box > img {
      width: 100%; }
  .resume-content {
    max-width: 30rem;
    margin: 0 auto; }
  .resume__ill-list {
    margin-bottom: 3rem; }
  .resume__ill::after {
    content: '';
    display: block;
    clear: both; }
  .resume__ill__icon-box {
    float: left;
    max-width: 125px;
    margin-right: 1.2rem; }
    .resume__ill__icon-box > img {
      width: 100%; }
  .resume__ill__content {
    position: relative;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
    overflow: hidden;
    padding: 4.5rem 0;
    padding-left: 2.4rem; }
    .resume__ill__content::before {
      content: '';
      position: absolute;
      left: 0;
      top: 4.8rem;
      width: 1.8rem;
      height: 1.8rem;
      background: url("../../img/icon/icon-praise.png") no-repeat center/cover; }
  .resume__ill:nth-child(even) > .resume__ill__icon-box {
    float: right;
    margin: 0;
    margin-left: 1.2rem; }
  .resume__location-box {
    max-width: 27rem;
    margin: 0 auto;
    margin-bottom: 1.2rem; }
    .resume__location-box > img {
      width: 100%; }
  .resume__stroke-box {
    max-width: 30rem;
    margin: 2.1rem auto; }
    .resume__stroke-box > img {
      width: 100%; }
  @media only screen and (min-width: 480px) {
    .resume {
      background: url("../../img/bk/stroke-bg.png") no-repeat center/cover; }
      .resume::after, .resume::before {
        content: none; }
      .resume__title-box {
        max-width: 33rem; }
      .resume-content {
        max-width: 39rem; }
      .resume__ill__content {
        padding-left: 0; }
        .resume__ill__content::before {
          position: static;
          display: inline-block;
          vertical-align: middle;
          margin-right: 0.6rem; }
      .resume__ill:nth-child(even) > .resume__ill__content {
        text-align: right; }
      .resume__location-box {
        max-width: 39rem; }
      .resume__stroke-box {
        max-width: 42rem; } }
  @media only screen and (min-width: 600px) {
    .resume__title-box {
      max-width: 36rem; }
    .resume-content {
      max-width: 48rem; }
    .resume__ill {
      margin-left: 15%; }
      .resume__ill:nth-child(even) > .resume__ill__icon-box {
        float: left;
        margin: 0;
        margin-right: 1.2rem; }
      .resume__ill:nth-child(even) > .resume__ill__content {
        padding-left: 0;
        text-align: left; } }
  @media only screen and (min-width: 768px) {
    .resume__title-box {
      max-width: 42rem; }
    .resume-content {
      max-width: 66rem; }
    .resume__ill-list::after {
      content: '';
      display: block;
      clear: both; }
    .resume__ill {
      float: left;
      margin-left: 0;
      margin-right: 1rem;
      width: calc((100% - 2 * 1rem) / 3);
      text-align: center; }
      .resume__ill:nth-child(3n) {
        margin-right: 0; }
      .resume__ill__icon-box {
        display: inline-block;
        min-height: 13.5rem;
        float: none;
        margin: 0;
        margin-bottom: 1.2rem; }
      .resume__ill__content {
        padding: 0; }
      .resume__ill:nth-child(even) > .resume__ill__icon-box {
        float: none;
        margin: 0;
        min-height: 13.5rem;
        margin-bottom: 1.2rem; }
      .resume__ill:nth-child(even) > .resume__ill__content {
        text-align: center; }
    .resume-content-group {
      padding: 0 6%; }
      .resume-content-group::after {
        content: '';
        display: block;
        clear: both; }
    .resume__location-box {
      margin-bottom: 0;
      float: left; }
    .resume__stroke-box {
      max-width: 45rem; } }
  @media only screen and (min-width: 960px) {
    .resume-content {
      max-width: 76.8rem; }
      .resume-content-group {
        padding: 0 9%; }
    .resume__ill__icon-box {
      max-width: 15rem;
      min-height: 16.1rem; }
    .resume:nth-child(even) > .resume__ill__icon-box {
      max-width: 15rem;
      min-height: 16rem; }
    .resume__stroke-box {
      max-width: 51rem; } }
  @media only screen and (min-width: 1440px) {
    .resume-content {
      max-width: 90rem; }
      .resume-content-group {
        padding: 0; }
    .resume__ill__icon-box {
      max-width: none;
      min-height: 26rem; }
      .resume__ill__icon-box > img {
        width: auto; }
    .resume__ill__content {
      font-size: 2.1rem;
      font-weight: 400;
      line-height: 2.1rem; }
    .resume__ill:nth-child(even) > .resume__ill__icon-box {
      max-width: none;
      min-height: 26rem; }
    .resume__location-box {
      max-width: 60rem; }
    .resume__stroke-box {
      max-width: 72rem; } }

.table--resume {
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 0 1px #626262;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.1rem;
  display: block;
  max-height: 45rem;
  overflow-y: auto; }
  .table--resume tr {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  .table--resume thead, .table--resume tbody {
    display: block; }
  .table--resume th, .table--resume td {
    letter-spacing: .6px; }
  .table--resume tbody tr {
    box-shadow: 0 0 0 1px #626262; }
    .table--resume tbody tr:nth-child(odd) {
      background: #f5f5f5; }
    .table--resume tbody tr:nth-child(even) {
      background: #e0e0e0; }
  .table--resume tbody td {
    position: relative;
    padding: 1.5rem 0;
    flex-basis: 50%;
    text-align: center; }
    .table--resume tbody td:first-child {
      flex-basis: 100%;
      box-shadow: 0 0 0 1px #000; }
      .table--resume tbody td:first-child::after {
        content: attr(data-type); }
        .table--resume tbody td:first-child::after.import {
          color: #cb0700; }
    .table--resume tbody td:nth-child(3)::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0;
      padding: 0 .06rem;
      background: #000; }
    .table--resume tbody td:nth-child(4) {
      display: none; }
  .table--resume thead {
    background: #d6251f;
    color: #fff; }
    .table--resume thead th {
      flex-basis: 50%;
      padding: 1.2rem 0; }
    .table--resume thead th:first-child {
      flex-basis: 100%; }
      .table--resume thead th:first-child::after {
        content: attr(data-type); }
    .table--resume thead th:last-child {
      display: none; }

.table td.import {
  color: #cb0700; }

@media only screen and (min-width: 600px) {
  .table--resume {
    max-height: 51rem; } }

@media only screen and (min-width: 960px) {
  .table--resume {
    max-width: 90rem;
    max-height: none;
    display: table; }
    .table--resume tr {
      display: table-row; }
    .table--resume thead {
      display: table-header-group; }
    .table--resume tbody {
      display: table-row-group; }
    .table--resume thead th {
      box-shadow: none; }
      .table--resume thead th:first-child::after {
        content: none; }
      .table--resume thead th:last-child {
        display: table-cell; }
    .table--resume tbody td {
      box-shadow: 0 0 0 0.3px #000; }
      .table--resume tbody td:first-child {
        box-shadow: 0 0 0 0.1px #000; }
        .table--resume tbody td:first-child::after {
          content: none; }
        .table--resume tbody td:first-child.import {
          color: #000; }
      .table--resume tbody td:nth-child(2), .table--resume tbody td:nth-child(3) {
        padding-left: 3.6rem;
        text-align: left; }
      .table--resume tbody td:nth-child(3)::before {
        content: none; }
      .table--resume tbody td:nth-child(4) {
        display: table-cell; } }

@media only screen and (min-width: 1440px) {
  .table tbody td:nth-child(2) {
    padding-left: 6rem; } }

.form {
  margin-bottom: 2.1rem;
  text-align: center; }
  .form::after {
    content: '';
    display: block;
    clear: both; }
  .form__title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 1.2rem; }
  .form-wrapper {
    position: relative;
    z-index: 0;
    max-width: 78.4rem;
    padding-top: 2.4rem;
    padding-bottom: 1.8rem;
    margin: 0 auto;
    border-radius: 3px; }
    .form-wrapper--health {
      background: #fff; }
    .form-wrapper--resume {
      background: #97120e; }
  .form__container, .form__label {
    float: left;
    margin-bottom: 2.1rem;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #000; }
  .form__label {
    position: relative; }
    .form__label > .tag {
      position: absolute;
      left: 1.2rem;
      top: 0;
      bottom: 0;
      margin: auto;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.2rem;
      line-height: 3.3rem; }
  .form__input {
    border: none;
    width: 100%;
    padding: 0.9rem 0; }
    .form__input--text {
      padding-left: 4.8rem; }
    .form__input--email {
      padding-left: 7.2rem; }
    .form__input--school {
      padding-left: 6.6rem; }
    .form__input--master {
      padding-left: 7.5rem; }
    .form__input--status {
      display: none; }
      .form__input--status:checked ~ .form__lb--StatusRadio > .radio-box::after, .form__input--status:checked ~ .form__lb--StatusRadio > .radio-box::before {
        content: ''; }
      .form__input--status:checked ~ .form__lb--select {
        pointer-events: auto;
        opacity: 1; }
  .form__select {
    width: 100%;
    padding: 0.9rem 0;
    border: none;
    background: #fff; }
  .form__container {
    box-shadow: none; }
    .form__container > span {
      display: block;
      margin-bottom: 1.2rem;
      font-weight: 700; }
    .form__container-group {
      display: flex;
      align-items: center;
      margin-bottom: 2.1rem; }
  .form__lb--StatusRadio {
    position: relative;
    text-align: left;
    padding-left: 3.3rem;
    margin-right: 1.2rem; }
    .form__lb--StatusRadio > .radio-box {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      left: 1.2rem;
      width: 1.5rem;
      height: 1.5rem;
      box-shadow: 0 0 0 1px #000; }
      .form__lb--StatusRadio > .radio-box::after, .form__lb--StatusRadio > .radio-box::before {
        position: absolute;
        top: 0;
        width: .3rem;
        background: #000; }
      .form__lb--StatusRadio > .radio-box::after {
        height: 1.2rem;
        right: .3rem;
        transform: rotate(45deg); }
      .form__lb--StatusRadio > .radio-box::before {
        height: .75rem;
        top: .5rem;
        left: .21rem;
        transform: rotate(-45deg); }
      .form__lb--StatusRadio > .radio-box.white {
        box-shadow: 0 0 0 1px #fff;
        background: #fff; }
  .form__lb--select {
    flex-grow: 1;
    box-shadow: 0 0 0 1px #000;
    border-radius: 3px;
    opacity: .3;
    pointer-events: none; }
  .form-warn {
    position: relative;
    z-index: 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;
    padding: 0.9rem 0; }
    .form-warn::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #fff;
      opacity: .9;
      z-index: -1; }
  @media only screen and (min-width: 600px) {
    .form-wrapper {
      padding-left: 6rem;
      padding-right: 6rem; }
    .form__container {
      display: flex; }
      .form__container > span {
        flex-basis: 12%;
        text-align: left;
        line-height: 3.5rem;
        font-size: 1.2rem; }
        .form__container > span.tag--resume {
          flex-basis: 31%; }
      .form__container-group {
        flex-basis: 44%; }
        .form__container-group--resume:nth-of-type(1) {
          flex-basis: 24%; } }
  @media only screen and (min-width: 768px) {
    .form {
      padding-left: 7.2rem;
      padding-right: 7.2rem; }
      .form-warn {
        margin-left: 7.2rem;
        margin-right: 7.2rem;
        padding-left: .6rem; } }
  @media only screen and (min-width: 960px) {
    .form-wrapper {
      padding: 0;
      padding-top: 7.8rem;
      padding-bottom: 3.9rem;
      max-width: 78.4rem; }
      .form-wrapper--health {
        background: #fff; }
      .form-wrapper--resume {
        background: #97120e; }
    .form__input, .form__select {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-size: 1.8rem; }
    .form__input--text {
      padding-left: 6rem; }
    .form__input--email {
      padding-left: 9rem; }
    .form__input--school {
      padding-left: 8.4rem; }
    .form__input--master {
      padding-left: 9rem; }
    .form__label > .tag, .form__container > .tag {
      font-size: 1.5rem;
      line-height: 5.1rem; } }
  @media only screen and (min-width: 1440px) {
    .form-wrapper {
      padding: 0 9.6rem;
      padding-top: 7.8rem;
      padding-bottom: 3.9rem;
      max-width: 78.4rem; } }

.health {
  position: relative;
  z-index: 0; }
  .health::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../../img/bk/form-health-bg-xs.png") no-repeat center/cover;
    opacity: .9;
    z-index: -1; }
  @media only screen and (min-width: 600px) {
    .health::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: url("../../img/people/form-health-people.png") no-repeat 84% top/12rem; } }
  @media only screen and (min-width: 768px) {
    .health {
      background: url("../../img/bk/form-health-bg.png") no-repeat center/cover;
      opacity: 1; } }
  @media only screen and (min-width: 1200px) {
    .health::before {
      background-size: auto;
      background-position: right -6rem bottom; } }
  @media only screen and (min-width: 1440px) {
    .health::before {
      background-position: right bottom; } }
  @media only screen and (min-width: 1920px) {
    .health::before {
      right: 6rem; } }

.resume-form {
  position: relative;
  z-index: 0; }
  .resume-form::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../../img/bk/form-resume-bg-xs.png") no-repeat center/cover;
    opacity: .9;
    z-index: -1; }
  @media only screen and (min-width: 600px) {
    .resume-form::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: url("../../img/people/form-resume-people.png") no-repeat 21% top/12rem; } }
  @media only screen and (min-width: 768px) {
    .resume-form {
      background: url("../../img/bk/form-resume-bg.png") no-repeat center/cover;
      opacity: 1; } }
  @media only screen and (min-width: 1200px) {
    .resume-form::before {
      background-size: auto;
      background-position: left bottom; } }
  @media only screen and (min-width: 1440px) {
    .resume-form::before {
      right: 9rem; } }
  @media only screen and (min-width: 1920px) {
    .resume-form::before {
      right: 0;
      left: 15rem; } }

.float-btn {
  position: fixed;
  right: -1.5rem;
  z-index: 3;
  width: 6rem;
  padding: 1.2rem 0 1.8rem;
  border-radius: 50%;
  background: #d6251f;
  color: #fffc00;
  text-align: center;
  text-decoration: none;
  transition: transform .1s; }
  .float-btn > .full-link {
    position: absolute;
    left: -1.2rem;
    right: -1.2rem;
    top: -1.2rem;
    bottom: -1.2rem;
    right: -99rem;
    z-index: 1; }
  .float-btn--sfsh {
    bottom: 6rem; }
  .float-btn--med {
    bottom: 15rem; }
  .float-btn .go {
    display: inline-block;
    color: #fff;
    margin-bottom: .3rem;
    font-size: 1.5rem; }
  .float-btn:hover {
    transform: translateX(-1.5rem); }
  @media only screen and (min-width: 480px) {
    .float-btn {
      width: 7.5rem;
      padding: 1.95rem 0 2.55rem; }
      .float-btn--med {
        bottom: 16.5rem; } }
  @media only screen and (min-width: 768px) {
    .float-btn {
      width: 9rem;
      padding: 2.4rem 0 3rem;
      font-size: 1.5rem; }
      .float-btn--med {
        bottom: 18rem; }
      .float-btn .go {
        font-size: 1.8rem; } }
  @media only screen and (min-width: 960px) {
    .float-btn {
      right: 1.2rem; } }
  @media only screen and (min-width: 1440px) {
    .float-btn {
      width: 12rem;
      padding: 2.95rem 0 3.55rem;
      font-size: 2.1rem; }
      .float-btn--med {
        bottom: 21rem; }
      .float-btn .go {
        font-size: 2.7rem;
        margin-bottom: 0.6rem; } }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  padding: 1.2rem, 1.8rem; }

.btn--primary:link, .btn--primary:visited {
  box-shadow: 0 0 0 1px #cd0000;
  color: #fff;
  background: #d6251f;
  padding: 0.9rem 2.7rem;
  border-radius: 3px;
  letter-spacing: .6px; }

.btn-form {
  border: none;
  color: #fff;
  padding: 0.9rem 4.2rem;
  border-radius: 6px;
  letter-spacing: .6px; }
  .btn-form--primary {
    background: #d6251f; }
  .btn-form--dark {
    background: #000; }

.btn--top {
  transform: translateY(100%); }
  .btn--top:link, .btn--top:visited {
    position: fixed;
    bottom: 0;
    right: 0;
    background: #000;
    color: #fff;
    width: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    border-radius: 50%;
    transition: all .6s; }

@media only screen and (min-width: 600px) {
  .btn--primary:link, .btn--primary:visited {
    padding: 1.2rem 3rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem; } }

@media only screen and (min-width: 768px) {
  .btn--primary:link, .btn--primary:visited {
    padding: 0.9rem 2.7rem;
    margin-top: 2.1rem; } }

@media only screen and (min-width: 960px) {
  .btn-form {
    padding: 1.2rem 9.6rem;
    border-radius: 6px;
    font-size: 1.8rem; } }

@media only screen and (min-width: 1440px) {
  .btn--primary:link, .btn--primary:visited {
    margin-top: 4.6rem;
    border-radius: 0;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8rem; }
  .btn-form {
    font-size: 2.4rem; } }
