.flexlayout {
    a {
        &:link,
        &:visited {
            text-decoration: none;
            color: #fff;
            font-size: 1.5rem;
        }
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2.1rem;
        background: #243238;
        max-height: 6rem;

        &__logo {
            vertical-align: middle;
        }

        &__logo-box {
            margin-right: 3rem;
        }


        > .navigation {
            position: relative;
            flex-grow: 1.5;
            margin-right: 2.7rem;
            padding: 2.4rem 0;
            overflow: hidden;
            cursor: pointer;

            > .arrow {
                position: absolute; right: 1.5rem; top: 2.4rem; bottom: 2.4rem;
                margin: auto;
                // width: 1.2rem;
                // height: 1.2rem;

                &::after,
                &::before  {
                    content: '';
                    position: absolute; right: 0; left: 0; bottom: 0; top: 0;
                    margin: auto;
                    width: 0;
                    height: 0;
                    padding: .36rem .05rem;
                    background: #fff;
                    transform-origin: 50% 100%;
                }
                &::after {
                    transform: rotateZ(45deg);
                }
                &::before {
                    transform: rotateZ(-45deg);
                }

            }


            > button {
                border: none;
                outline: none;
                color: #fff;
                font-size: 1.5rem;  
                background: transparent;
                cursor: pointer;
                margin-left: .3rem;

                > i {
                    font-size: 2.05rem;
                    margin-right: .9rem;
                }
            }

            &:hover {
                // background: #182125;
            }

            &:hover button {
                color: #3e6bff;
            }
        }
    
        .searchForm {
            flex-grow: 1.33;
            display: flex;
            padding-left: 2.1rem;
            background: rgba(255,255,255,.15);
            border-radius: 3px;
            > i {
                font-size: 1.8rem;
                height: 3rem;
                line-height: 3rem;
                margin-right: .9rem;
                color: #fff;
            }
            &__input {
                padding: .6rem 0;
                margin: 0;
                border: none;
                width: calc(100% - 2.2rem);
                background: transparent;
                color: #fff;
                font-size: 1.4rem;

                

                &:focus {
                    outline: none;
                }
            }
        }

        ::placeholder {
            color: rgba(255,255,255,.3)
        }
    
        .local {
            // margin-left: 2.1rem;
            &__btn {
                > i {
                    padding-right: .6rem;
                }


                &:link,
                &:visited {
                    position: relative;
                    display: inline-block;
                    padding: 2.1rem 3rem;
                    margin: 0 1.2rem;
                }


                // span {
                //     display: inline-block;
                //     margin-left: .6rem;
                //     transform: rotate(90deg);  
                // }

                > .arrow {
                    position: absolute; right: 1.5rem; top: 2.4rem; bottom: 2.4rem;
                    margin: auto;
                    // width: 1.2rem;
                    // height: 1.2rem;
    
                    &::after,
                    &::before  {
                        content: '';
                        position: absolute; right: 0; left: 0; bottom: 0; top: 0;
                        margin: auto;
                        width: 0;
                        height: 0;
                        padding: .36rem .05rem;
                        background: #fff;
                        transform-origin: 50% 100%;
                    }
                    &::after {
                        transform: rotateZ(45deg);
                    }
                    &::before {
                        transform: rotateZ(-45deg);
                    }
    
                }
            }
        }
    
        >.membership {
            &:link,
            &:visited {
                padding: 1.2rem 1.8rem;
                font-size: 1.4rem;
                background: #fff;
                color: #000;
                border-radius: 3px;
            }
        }
    
        .menu {
            flex-grow: 1;

            &__list {
                display: flex;
                justify-content: space-between;

                > a {
                    > i {
                        margin-right: .9rem;
                    }

                    &:link,
                    &:visited {
                        display: inline-block;
                        padding: 1.2rem 0;
                        padding: 0 .6rem;
                    }

                    &:first-child {
                        margin-left: 2.4rem;
                    }
                    &:not(:last-child) {
                    }
                }
            }
        }
    }

}