.tablelayout {
    padding: 6rem 0;
    // background: #aaa;

    .heading {
        font-weight: 900;

        &-secondary {
            font-size: 3.6rem;
        }

        &-thread {
            font-size: 3rem;
        }

        &-fourth {
            font-size: 1.8rem;
        }
    }

    &__product {
        // padding: 0 9%;
        max-width: 983px;
        margin: auto;
        background: rgba(43, 42, 42, 0.1);

        table {
            border-collapse: separate;
            border-spacing: 1.2rem 6rem;
        }
 
        th {
            text-align: left;
            padding-left: 1.8rem;
        }

        td {
            // width: 30%;
            &:not(:last-child) {
                padding-right: 1.8rem;
            }


        }

        &__img-box {
            margin-bottom: 1.5rem;
            > img {
                vertical-align: middle;
                width: 100%;
            }
        }

        &__title,
        &__price {
            margin-bottom: 1.5rem;
            margin-right: -1.8rem;
        }

        &__title {
            color: #b6d5d7;
        }

        &__button {
            border: none;
            background: #b6d5d7;
            text-align: center;
            text-transform: uppercase;
            font-size: 1.5rem;
            padding: 3rem 2.4rem;
            letter-spacing: 1px;
            cursor: pointer;
        }
    }
}