html {
  font-size: 62.5%; }

.section {
  margin: 3rem 0; }

.section__title {
  font-size: 4.2rem;
  margin-bottom: 1.8rem;
  text-align: center; }

.template {
  margin-bottom: 3.3rem; }

.todayReading {
  counter-reset: read 0;
  min-width: 540px;
  max-width: 600px;
  margin: auto;
  margin-top: 3rem; }

.todayReading > li {
  margin-bottom: 1.5rem; }

.todayReading > .counter::before {
  content: counters(read, "-") " ";
  counter-increment: read;
  font-size: 1.5rem;
  margin-right: 1.2rem; }

.todayReading p {
  font-size: 1.5rem;
  padding: 1.2rem 0;
  padding-left: 4.2rem;
  line-height: 1.5; }

ol a:link,
ol a:visited {
  text-decoration: none;
  color: #333;
  font-size: 1.8rem; }

ol a:hover {
  color: #cd0000; }

ol h2 {
  font-size: 4.2rem;
  margin-bottom: 1.5rem; }

.base-link:link, .base-link:visited {
  text-decoration: none;
  color: #000; }

.u-margin-b-sss {
  margin-bottom: .9rem; }

.u-margin-b-ss {
  margin-bottom: 1.2rem; }

.u-margin-b-s {
  margin-bottom: 1.8rem; }

.u-margin-b-m {
  margin-bottom: 2.4rem; }

.u-margin-b-b {
  margin-bottom: 3.6rem; }

.t-cn {
  text-align: center; }

.t-l {
  text-align: left; }

.t-r {
  text-align: right; }

.article img {
  width: 100%;
  vertical-align: middle;
  object-fit: cover; }

.article-container {
  max-width: 600px;
  margin: 0 auto; }

.article-titleWrap {
  text-align: center; }
  .article-titleWrap::after {
    content: '';
    display: block;
    height: 0;
    padding: .45rem 0;
    background: linear-gradient(to right, #ff6636 10%, #9f3a86 25%, #3969ca 40%, #3969ca 60%, #9f3a86 75%, #ff6636 90%);
    background-size: 200%;
    margin-top: 1.5rem; }

.article__title--primary {
  font-size: 3.6rem;
  font-weight: bold;
  word-spacing: -3px;
  letter-spacing: -.6px;
  margin-bottom: 1.2rem; }

.article__title--sub {
  font-size: 1.8rem;
  letter-spacing: 2.1px; }

.article__linkarea {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }
  .article__linkarea:hover ~ .article-content__banner__title {
    color: #0000aa; }
  .article__linkarea:hover ~ .article-content__news__txt {
    color: orange; }

.article-content::after {
  content: '';
  display: block;
  height: 0;
  padding: .09rem 0;
  background: #0000aa;
  margin: 1.2rem 0; }

.article-content-titleWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 6% 1.2rem 9%; }

.article-content__title--primary {
  font-size: 3rem;
  letter-spacing: 3px; }

.article-content__banner {
  position: relative;
  z-index: 0;
  margin-bottom: 3rem; }
  .article-content__banner::after {
    content: '';
    display: block;
    clear: both; }
  .article-content__banner__title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.5;
    float: left;
    padding: 7.2rem 0;
    padding-right: 63%;
    padding-left: 1.2rem; }
    .article-content__banner__title::before, .article-content__banner__title::after {
      content: '';
      display: block;
      height: 1px;
      background: #ccc; }
    .article-content__banner__title::before {
      margin-bottom: 1.2rem; }
    .article-content__banner__title::after {
      margin-top: 1.2rem; }
  .article-content__banner__img-box {
    float: left;
    width: 57%;
    margin-left: -57%; }

.article-content__news {
  position: relative;
  float: left;
  margin-right: 7.5%;
  width: 46.25%;
  margin-bottom: 1.5rem; }
  .article-content__news:nth-child(2n) {
    margin-right: 0; }
  .article-content__newsWrap::after {
    content: '';
    display: block;
    clear: both; }
  .article-content__news__img-box {
    float: left; }
  .article-content__news__txt {
    overflow: hidden;
    font-size: 1.42rem;
    line-height: 1.5;
    padding-left: 1.8rem; }

.article-content__articleAll > .arrow {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
  transition: all .15s linear; }

.table {
  width: 100%;
  max-width: 891px;
  margin: 0 auto;
  box-shadow: 0 0 0 1.5px #910581;
  color: #564a17;
  font-size: 1.5rem;
  table-layout: fixed; }
  .table thead {
    background: rgba(145, 5, 129, 0.1); }
  .table th, .table td {
    box-shadow: 0 0 0 .6px #910581; }
  .table th, .table td {
    padding: .9rem 0; }
  .table .area > th:first-child {
    padding: .3rem 0rem; }
  .table tbody td {
    text-align: center; }
  .table tbody tr > td:first-child {
    padding-left: 1rem;
    text-align: left; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  padding: 1.2rem, 1.8rem;
  box-shadow: 0 0 0 1px #000; }

.btn--articleAll:link, .btn--articleAll:visited {
  font-size: 1.8rem;
  text-transform: uppercase;
  box-shadow: none; }

.btn--articleAll:hover {
  color: #00aacd; }
  .btn--articleAll:hover > .arrow {
    transform: translate(6px, 6px); }
