h1 , h2 {
    font-weight: 800;
}
h3 , p{
    font-weight: 400;
}
h1 {
    font-size: 36px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 21px;
}

p {
    font-size: 15px;
    line-height: 1.5;
}