html {
  font-size: 62.5%; }

.section--talent, .section--welfare {
  background: #fafafa; }

.section--career {
  padding-top: 0; }

.template {
  margin-bottom: 3.3rem; }

.todayReading {
  counter-reset: read 0;
  min-width: 540px;
  max-width: 600px;
  margin: auto;
  margin-top: 3rem; }

.todayReading > li {
  margin-bottom: 1.5rem; }

.todayReading > .counter::before {
  content: counters(read, "-") " ";
  counter-increment: read;
  font-size: 1.5rem;
  margin-right: 1.2rem; }

.todayReading p {
  font-size: 1.5rem;
  padding: 1.2rem 0;
  padding-left: 4.2rem;
  line-height: 1.5; }

ol a:link,
ol a:visited {
  text-decoration: none;
  color: #333;
  font-size: 1.8rem; }

ol a:hover {
  color: #cd0000; }

ol h2 {
  font-size: 4.2rem;
  margin-bottom: 1.5rem; }

.base-link:link, .base-link:visited {
  text-decoration: none;
  color: #000; }

@media only screen and (max-width: 480px) {
  img {
    width: 100%; } }

.u-mb-ss {
  margin-bottom: 1.2rem; }

.u-mb-s {
  margin-bottom: 1.8rem; }

.u-mb-m {
  margin-bottom: 2.4rem; }

.u-mb-b {
  margin-bottom: 3.6rem; }

.u-color-sub {
  color: #ffb25a; }

.t-cn {
  text-align: center; }

.t-l {
  text-align: left; }

.t-r {
  text-align: right; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  padding: 1.2rem, 1.8rem;
  box-shadow: 0 0 0 1px #000; }

.header {
  background: url("../../img/bk/bk-element.png") repeat; }
  .header-container {
    margin: 0 21%;
    padding-top: 4.2rem;
    background: url("../../img/logo.png") no-repeat;
    background-position: left 1.8rem; }
  .header__nav {
    text-align: right;
    padding-bottom: 2.1rem; }
    .header__nav > a:link, .header__nav > a:visited {
      position: relative;
      color: #c9032e;
      text-decoration: none;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.8rem; }
    .header__nav > a::before {
      content: '';
      position: absolute;
      left: 50%;
      right: 50%;
      height: 0;
      padding: .21rem 0;
      bottom: -1.5rem;
      border-radius: 6px;
      transition: all .3s; }
    .header__nav > a.choose::before {
      content: '';
      left: -3rem;
      right: -3rem;
      background: #c9032e; }
    .header__nav > a:hover::before {
      left: -3rem;
      right: -3rem;
      background: #c9032e; }
    .header__nav > a:not(:last-child) {
      margin-right: 4.2rem; }
  @media only screen and (max-width: 480px) {
    .header-container {
      background-position: center; }
    .header__nav {
      position: fixed;
      right: 0; } }
  @media only screen and (max-width: 1440px) {
    .header-container {
      margin: 0 12%; } }

.banner {
  padding: 28rem 0;
  padding: 12rem 0 26rem;
  box-shadow: 0 0 0 1px #cd0000;
  background: url("../../img/bk/keyimage-bg.png") no-repeat center/cover #c9032e; }
  .banner__title-box {
    text-align: center; }
    .banner__title-box img {
      vertical-align: middle; }

.talent {
  text-align: center;
  padding: 6.9rem 0;
  background: url("../../img/bk/section-1-bg.png") no-repeat center; }
  .talent__img-box > img {
    vertical-align: middle;
    object-fit: contain; }
  .talent__img-box--paragraph {
    display: inline-block; }
  .talent__img-box--title.one {
    margin-bottom: 1.8rem; }
  .talent__img-box--title.two {
    margin-bottom: 1.5rem; }
  .talent-group {
    margin-bottom: 1.8rem; }

.career {
  position: relative;
  z-index: -1;
  padding-bottom: 60rem;
  text-align: center;
  background: url("../../img/bk/career-bg.png") no-repeat center #c9032e; }
  .career__img-box--title {
    position: relative;
    top: -14rem;
    margin-bottom: -14rem; }
  .career__img-box--training {
    max-width: 459px;
    max-height: 289px; }
    .career__img-box--training > img {
      width: 100%;
      height: 100%; }
  .career-group {
    margin: 2.1rem 0 3.9rem; }
    .career-group > .img-box {
      display: inline-block; }

.welfare {
  padding: 6.9rem 0;
  padding-bottom: 18rem;
  background: url("../../img/bk/welfare-bg.png") no-repeat center; }
  .welfare-group > .img-box {
    display: inline-block; }
    .welfare-group > .img-box:nth-child(2) {
      position: relative;
      top: 3.9rem; }

.active {
  box-shadow: 0 0 0 1px #cd0000; }
  .active::after {
    content: '';
    display: block;
    clear: both; }
  .active__img-box {
    float: left;
    box-shadow: 0 0 0 1px #cd0000;
    margin-right: 0%;
    width: 25%; }
    .active__img-box:nth-child(4n) {
      margin-right: 0; }
    .active__img-box > img {
      width: 100%;
      vertical-align: middle;
      object-fit: cover; }

.footer {
  color: #dadada;
  padding: 6.9rem 0;
  background: #c9032e; }
  .footer__title {
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 3.1rem;
    margin-bottom: 1.2rem; }
    .footer__title-2 {
      color: #ffb25a; }
  .footer__img-box--title {
    margin-bottom: 1.2rem; }
  .footer__img-box > img {
    vertical-align: middle; }
  .footer__content {
    padding-left: 30%;
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 3.5rem; }
