.btn {
    @include btn-base(false);


    &--nav {
        display: none;
    }

    &--talent {
        @include link {
            @include font(4,0,3);
            background: $color-primary-sub;
            padding: nth($p,3) nth($p,6);
            margin-bottom: nth($m,3);

            position: relative;
            z-index: 0;
            overflow: hidden;
        }
        &::after {
            content: '';
            position: absolute; left: 0; right: 100%; bottom: 0; top: 0;
            background: $color-primary;
            z-index: -1;
            transform: skewX(-15deg) scale(1.5);
            transition: all .3s;
        }

        &:hover {
            color: $color-white;
            &::after {
                right: 0;
            }
        }
    }



    @include respond('phone') {

        &--nav {
            display: block;
            border: none;
            position: absolute; right: 0; top: 0;
            width: 6rem;
            height: 6rem;
            transform: translateX(100%);
            border-radius: 50%;
            background: $color-primary-sub;

            // arrow 
            > span {
                position: absolute; left: 0; right: 0; bottom: 0; top: 0;
                // transform: scale(-1);
                border-radius: 50%;

                &::after,&::before {
                    content: '';
                    @include absolute-fill-ct;
                    left: 9px;
                    width: 12px;
                    height: 3px;
                    background: $color-primary;
                    border-radius: nth($border-radius,3);
                }
    
                &::before {
                    transform-origin: right bottom;
                    transform: rotate(30deg);
                }
                &::after {
                    transform-origin: right top;
                    transform: rotate(-30deg);
                }
            }

        }
    }

}