// 25% , 外面包一層
.career {
    position: relative;
    z-index: -1;
    
    padding-bottom: 60rem;
    text-align: center;
    background: url("../../img/bk/career-bg.png") no-repeat center $color-primary;

    &__img-box {
        &--title {
            position: relative;
            top: -14rem;
            margin-bottom: -14rem;
        }

        // 對齊 img
        &--training {
            position: relative;
            top: 3px;
        }
    }

    &-group {
        // margin: nth($m,6) 0 nth($m,11);
        > .img-box {
            display: inline-block;
            margin: nth($m,6) 0 nth($m,11);
        }
    }

    @include respond('tablet') {
        &__img-box {
            &--growing,&--title {
                > img {
                    width: 100%;
                }
            }
        }
    }
}

