// 25% , 外面包一層
.career {
    position: relative;
    z-index: -1;
    
    padding-bottom: 7rem;
    text-align: center;
    background: url('../../img/bk/bk-element-3.png') repeat top left;

    &__img-box {
        margin: 0 auto;

        > img {
            width: 100%;
        }

        &--title {
            max-width: 630px;
            position: relative;
            top: -14rem;
            margin-bottom: -14rem;
        }

        // 對齊 img
        &--training {
            position: relative;
            top: 3px;
        }

        &--growing-2 {
            max-width: 1070px;
            margin: 0 auto;
        }

        &--growing-1 {
            max-width: 768px;
        }

    }

    &-group {
        > .img-box {
            display: inline-block;
            margin: nth($m,6) 0 nth($m,11);
        }
    }

    @include respond('phone') {
        padding-bottom: 4.5rem;
        &__img-box {
            &--title {
                top: -9rem;
                margin-bottom: -9rem;
            }
        }
    }

    // @include respond('tablet') {
    //     &__img-box {
    //         &--growing-1,&--title {
    //             > img {
    //                 width: 100%;
    //             }
    //         }
    //     }
    // }
}

