// 30% , 外面包一層
.footer {
    color: $color-text;
    padding: nth($p,10) 0;
    background: url('../../img/bk/about-bg.png') no-repeat center / 114% $color-primary;

    &__title {
        @include font(4,1rem);
        margin-bottom: nth($m,3);

        &-2 {
            color: $color-primary-sub;
        }
    }

    &__img-box {

        &--title {
            margin-bottom: nth($m,3);
        }

        &--btn {
            position: relative;
            display: inline-block;
            margin-left: 30%;
        }
    }

    &__content {
        padding: 0 30%;
        @include font(3,1.4rem);
    }

    @include respond('large-desktop') {
        text-align: center;
        &__img-box {
            &--btn {
                margin: 0;
            }
        }
    }

    @include respond('tablet') {
        background-position: center calc(100% - 4.5rem);

        &__img-box {
            &--btn {
                > img {
                    width: 100%;
                }
            }
        }

        &__content {
            padding: 0 3%;
            margin-bottom: 14rem;
        }
    }
}