// 0 21%
.header {
    background: url("../../img/bk/bk-element.png") repeat;

    &-container {
        margin: 0 21%;
        padding-top: nth($p,5);

        // padding-top: nth($p,12);
        // background: url('../../img/logo.png') no-repeat;
        // background-position: left 1.8rem;
    }

    &__logo {
        @include font(6,0,3);
        color: $color-primary;
        content: url('../../img/logo.png');
        cursor: pointer;
    }

    &__nav {
        text-align: right;
        padding-bottom: nth($p,6);

        > a {
            @include link {
                position: relative;
                color: $color-primary;
                text-decoration: none;
                @include font(3,0);
            }

            // under line
            &::before {
                content: '';
                position: absolute; left: 50%; right: 50%;
                height: 0;
                padding: .21rem 0;
                bottom: -1.5rem;
                border-radius: nth($border-radius , 2);
                transition: all .3s;
            }

            &.choose::before {
                content: '';
                left: -3rem; right: -3rem;
                background: $color-primary;
            }

            &:hover::before {
                left: -3rem; right: -3rem;
                background: $color-primary;
            }

            &:not(:last-child) {
                margin-right: nth($m,12);
            }
        }
    }

    @include respond('large-desktop') {
        &-container {
            margin: 0 6%;
        }
    }

    @include respond('desktop') {
        &-container {
            margin: 0 3%;
        }
    }

    @include respond('tablet') {
        &-container {
            margin: 0;
            // background-position: center;
        }

        &__logo {
            text-align: center;
            margin: 0 auto;
        }

        &__nav {
            margin-top: nth($m,14);
            text-align: center;
        }
    }

    @include respond('phone') {
        &-container {
            padding: nth($p,12) 0;
        }

        &__nav {
            position: fixed; left: 0;
            padding-right: 30px;
            z-index: 3;
            transform: translateX(calc(-100% - 2.1rem));
            transition: all .3s;

            // just show how to open nav , will use click listener.
            &:hover {
                transform: translateX(0);
            }
            &:hover > .btn--nav {
                > span {
                    transform: scale(-1);
                    &::after,&::before {
                        left: 0;
                    }
                }
            }


            > a {
                @include link {
                    display: block;
                    margin: 0;
                    letter-spacing: 3px;
                    padding: nth($p,2);
                    padding-right: nth($p,12);
                    background: $color-primary-sub;
                    border-radius: nth($border-radius,3);
                    margin-bottom: nth($m,2);
                }

                &::before,&.choose::before {
                    content: none;
                }
            }
        }
    }
    
    

    

}