// 19.5% , 外面包一層
.welfare {
    padding: $padding;
    padding-bottom: 18rem;
    background: url("../../img/bk/welfare-bg.png") no-repeat center;

    &__img-box {
        &--title {
            margin-bottom: nth($m,3);
        }
    }

    &-group {
        margin-bottom: nth($m,6);

        > .img-box {
            display: inline-block;
        }
    }

    &__remark {
        color: $color-primary;
        @include font(4,0);
        letter-spacing: 2px;
    }
}