html {
    font-size: 62.5%;
}
.section {
    padding-top: 3.3rem;
    padding-bottom: 3.3rem;

    &-form {
        &--health {
            background: url('../../img/bk/form-health-bg.png') no-repeat center / cover;
        }
    }
}

img {
    vertical-align: middle;
}

@include respond('lg') {
    .section {
        padding-top: 6.9rem;
        padding-bottom: 6.9rem;
    }
}
