.btn:link, .btn3:link, .btn:visited, .btn3:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: .9rem 1.5rem;
  font-size: 1.5rem; }

.btn2, .btn3 {
  padding: .9rem 1.5rem;
  font-size: 1.5rem; }
