html {
  font-size: 62.5%; }

.section {
  margin: 6rem 0; }

.section__title {
  font-size: 4.2rem;
  margin-bottom: 1.8rem;
  text-align: center; }

.todayReading {
  /* content: counter(read); */
  counter-reset: read 0;
  min-width: 540px;
  max-width: 600px;
  margin: auto;
  margin-top: 3rem; }

.todayReading > li {
  margin-bottom: 1.5rem; }

.todayReading > .counter::before {
  content: counters(read, "-") " ";
  counter-increment: read;
  font-size: 1.5rem;
  margin-right: 1.2rem; }

.todayReading p {
  font-size: 1.5rem;
  padding: 1.2rem 0;
  padding-left: 4.2rem;
  line-height: 1.5; }

ol a:link,
ol a:visited {
  text-decoration: none;
  color: #333;
  font-size: 1.8rem; }

ol a:hover {
  color: #cd0000; }

ol h2 {
  font-size: 4.2rem;
  margin-bottom: 1.5rem; }

.template {
  margin-bottom: 3rem; }

.heading-secondary {
  font-size: 5.1rem;
  font-weight: bold; }

.heading-fifth {
  font-size: 1.41rem;
  font-weight: bold; }

.u-margin-b-big {
  margin-bottom: 3rem; }

.banner {
  display: flex;
  padding: 0 9.3%;
  color: #fff; }
  .banner-left {
    display: flex;
    flex-basis: 68.1%;
    background: #3b3d43; }
    .banner-left__txt {
      flex-basis: 30%;
      padding: 4.5rem 0;
      padding-bottom: 0; }
    .banner-left__img-box {
      flex: 1; }
      .banner-left__img-box > img {
        vertical-align: middle;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .banner-left__title {
      font-size: 1.92rem;
      padding-left: 2.1rem;
      word-spacing: 3.3px;
      margin-bottom: 3.3rem; }
    .banner-left__list {
      padding: 0 2.1rem; }
      .banner-left__listItem {
        position: relative;
        margin-bottom: 3rem;
        padding-left: 3.9rem;
        line-height: 1.5; }
        .banner-left__listItem > h5::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          background: #fff;
          vertical-align: middle; }
        .banner-left__listItem > p {
          font-size: 1.2rem;
          color: #777; }
  .banner-right {
    flex: 1;
    margin-left: 1.7rem;
    background: url("../../img/banner-7_1.webp") no-repeat center top/cover; }
    .banner-right__txt {
      text-align: center;
      margin-top: 3.9rem;
      line-height: 1.5; }
      .banner-right__txt > span {
        font-size: 1.71rem; }
    .banner-right__title {
      font-size: 7.2rem;
      font-weight: bold; }
  @media only screen and (max-width: 1200px) {
    .banner-left {
      display: block;
      flex-basis: 48.5%;
      margin-right: 3%; }
      .banner-left__txt {
        padding: 6rem 4.5rem 9rem 4.5rem; }
      .banner-left__img-box {
        display: none; }
      .banner-left__title {
        margin-bottom: 2.7rem; }
      .banner-left__list {
        padding: 0;
        padding-left: 1.2rem; }
        .banner-left__listItem {
          margin-bottom: 3rem; }
    .banner-right {
      flex-grow: 0;
      margin: 0;
      flex-basis: 48.5%; } }

.blog {
  background: #e74e3e; }
  .blog::after {
    content: '';
    display: block;
    clear: both; }
  .blog__card {
    float: left;
    width: 50%; }
    .blog__cardWrap::after {
      content: '';
      display: block;
      clear: both; }
    .blog__card__img-box {
      float: left;
      width: 50%; }
      .blog__card__img-box--right {
        margin-left: -50%; }
      .blog__card__img-box > img {
        vertical-align: middle;
        width: 100%;
        object-fit: cover; }
    .blog__card-txt {
      overflow: hidden;
      padding: 4.8rem;
      padding-right: 3rem;
      color: #fff;
      line-height: 1.5; }
      .blog__card-txt--right {
        float: left;
        padding-right: 54%; }
    .blog__card__title {
      font-size: 2.4rem;
      font-weight: bold;
      line-height: 1.2; }
      .blog__card__title::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
        padding: .09rem 2.4rem;
        margin: 3rem 0;
        background: #fff; }
    .blog__card__article {
      font-size: 1.5rem;
      color: rgba(255, 255, 255, 0.6);
      margin-bottom: 3rem; }
  @media only screen and (max-width: 768px) {
    .blog__card {
      float: none;
      width: auto; }
      .blog__card:not(:last-child) {
        margin-bottom: 1.2rem; }
      .blog__card__img-box {
        float: none;
        max-width: 510px;
        margin: 0 auto;
        margin-bottom: 4.5rem; }
      .blog__card-txt {
        float: none;
        padding: 0 1.2rem; }
        .blog__card-txt--right {
          float: none;
          width: auto;
          padding: 0 1.2rem; }
      .blog__card__title {
        font-size: 2.1rem; }
      .blog__card__article {
        font-size: 1.5rem; } }

.table {
  width: 100%;
  max-width: 1166px;
  margin: auto;
  table-layout: fixed; }
  .table thead {
    text-align: left;
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 1px;
    background: #ccc; }
  .table tbody {
    font-size: 1.5rem;
    font-weight: lighter; }
  .table tbody tr {
    border-bottom: 1px solid #ccc; }
    .table tbody tr:last-child {
      font-weight: bold; }
  .table td, .table th {
    padding: 3.9rem 2.1rem; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  color: #000; }

.btn--blog:link, .btn--blog:visited {
  font-size: 1.6rem;
  color: #fff;
  font-weight: bold;
  transition: color .6s; }

.btn--blog:hover {
  color: #333; }

@media only screen and (max-width: 768px) {
  .btn--blog {
    font-size: 1.6rem; } }
