.banner {
    background-color: #31438E;
    color: $color-white;
    padding: nth($p,9) 0;

    &__txt {
        @include font(3,.75rem,1);
        > .title {
            @include font(9,0,3);
        }
    }

    &-skills {
        > .title {
            @include font(3,0,3);
            color: rgba($color-white,.3);
        }

        &__list {
            &__item {
                min-height: 60px;
                margin-top: nth($m,11) / 2;
                margin-bottom: nth($m,11) / 2;
                background-color: #aaa;
            }
        }
    }

    @include respond(sm-x) {
        &-container {
            max-width: 84%;
        }
    }
}