.btn {
    &-a {
        @include btn-base(false);
    }
    
    &-button {
        @include btn-base-button(false);
    }

    &--header-item {
        transition: color .3s , background-color .3s;

        @include link {
            @include font(3,0,3);
            box-shadow: 0 0 0 1px #00aa00;
            color: #18b674;
            border-radius: nth($border-radius,2);
        }

        &:hover {
            color: #1d3060;
            background-color: #48E0a6;
        }
    }

    &--banner {
        transition: color .3s , background-color .3s;

        @include link {
            @include font(3,0,3);
            color: #1d3060;
            background-color: #48E0a6;
            border-radius: nth($border-radius,2);
        }

        &:hover {
            background-color: rgb(123, 247, 199);
        }

    }

}