$base-lh: 1.5;

$list: 16px 18px 20px;


$gurrer: 1.5rem 2.1rem;
$border: 1px solid #000;
$color-black: #000;
$border-radius: 6px;


// 變數管理
// $flex-map: (
//     $font-size : 1.5rem 1.8rem 2.1rem,
// );

// $float-map: (
//     $font-size : 1.5rem 1.8rem 2.1rem,
// );

// $table-map: (
//     $font-size : 1.5rem 1.8rem 2.1rem,
// );
