.btn {
    @include btn-base(false);

    &--primary {
        @include link {
            box-shadow: 0 0 0 1px #cd0000;
            color: $color-white;
            background: $color-primary;
            padding: nth($p,2) nth($p,8);
            border-radius: nth($border-radius,1);
            letter-spacing: .6px;
        }
    }


    @include respond-up(600px) {
        &--primary {
            @include link {
                padding: nth($p,3) nth($p,9);
                @include font(2);
            }
        }
    }

    @include respond('md') {
        &--primary {
            @include link {
                padding: nth($p,2) nth($p,8);
                margin-top: 2.1rem;
            }
        }
    }

    @include respond('xl') {
        &--primary {
            @include link {
                // margin-top: calc(125px - 33px) / 2;
                margin-top: 4.6rem;
                border-radius: 0;
                @include font(3)
            }
        } 
    }
}