.btn {
    @include btn-base(false);

    &--primary {
        @include link {
            box-shadow: 0 0 0 1px #cd0000;
            color: $color-white;
            background: $color-primary;
            padding: nth($p,2) nth($p,8);
            border-radius: nth($border-radius,1);
            letter-spacing: .6px;
        }
    }

    &-form {
        border: none;
        color: $color-white;
        padding: nth($p,2) nth($p,12);
        border-radius: nth($border-radius,2);
        letter-spacing: .6px;

        &--primary {
            background: $color-primary;

        }

        &--dark {
            background: $color-black;
        }
    }

    &--top {
        @include link {
            position: fixed; bottom: 3%; right: 15%;
            background: $color-black;
            color: $color-white;
            width: 6rem;
            width: 6rem;
            line-height: 6rem;
            text-align: center;
            border-radius: 50%;
            transition: all .6s;
            font-weight: 700;
            letter-spacing: .6px;
        }

        transform: translateY(100%);
    }



    // RWD


    @include respond-up(600px) {
        &--primary {
            @include link {
                padding: nth($p,3) nth($p,9);
                @include font(2);
            }
        }

    }

    @include respond('md') {
        &--primary {
            @include link {
                padding: nth($p,2) nth($p,8);
                margin-top: 2.1rem;
            }
        }

        &--top {
            @include link {
                width: 7.5rem;
                height: 7.5rem;
                line-height: 7.5rem;
                font-size: nth($font-size,2);
                letter-spacing: 1px;
            }
        }
    }

    @include respond('lg') {
        &-form {
            padding: nth($p,3) 9.6rem;
            border-radius: nth($border-radius,2);
            font-size: nth($font-size,3);
        }
    }

    @include respond('xl') {
        &--primary {
            @include link {
                // margin-top: calc(125px - 33px) / 2;
                margin-top: 4.6rem;
                border-radius: 0;
                @include font(3)
            }
        } 

        &-form {
            font-size: nth($font-size,5);
        }
    }
}