.form {
    font-size: 0;

    &-wrapper {
        max-width: 784px;
        // padding: 0 9.6rem;
        padding: 7.8rem 9.6rem 3.9rem;
        margin: 0 auto;
        border-radius: nth($border-radius,1);
        background: $color-white;
        box-shadow: 0 0 0 1px #0000aa;
    }
    
    &__input {
        background: #ccc;
        border: none;
        padding: 1.2rem 0;
        padding-left: 1.2rem;
        margin-bottom: nth($m,6);

        &:focus {
            outline: 1px solid;
        }
    }

}