html {
  font-size: 62.5%; }

.section {
  margin: 3rem 0; }

.section__title {
  font-size: 4.2rem;
  margin-bottom: 1.8rem;
  text-align: center; }

.template {
  margin-bottom: 3.3rem; }

.todayReading {
  /* content: counter(read); */
  counter-reset: read 0;
  min-width: 540px;
  max-width: 600px;
  margin: auto;
  margin-top: 3rem; }

.todayReading > li {
  margin-bottom: 1.5rem; }

.todayReading > .counter::before {
  content: counters(read, "-") " ";
  counter-increment: read;
  font-size: 1.5rem;
  margin-right: 1.2rem; }

.todayReading p {
  font-size: 1.5rem;
  padding: 1.2rem 0;
  padding-left: 4.2rem;
  line-height: 1.5; }

ol a:link,
ol a:visited {
  text-decoration: none;
  color: #333;
  font-size: 1.8rem; }

ol a:hover {
  color: #cd0000; }

ol h2 {
  font-size: 4.2rem;
  margin-bottom: 1.5rem; }

.base-link:link, .base-link:visited {
  text-decoration: none;
  color: #000; }

.t-cn {
  text-align: center; }

.heading-thread {
  font-size: 2.82rem;
  font-weight: bold; }

.heading-fourth {
  font-size: 1.8rem;
  font-weight: bold; }

.heading-fifth {
  font-size: 1.41rem;
  font-weight: bold; }

.u-margin-b-ss {
  margin-bottom: 1.2rem; }

.u-margin-b-s {
  margin-bottom: 1.8rem; }

.u-margin-b-m {
  margin-bottom: 2.4rem; }

.u-margin-b-b {
  margin-bottom: 6rem; }

.footer {
  background: #E5E6E7;
  padding: 6rem 5.7% 3rem; }
  .footer-body {
    margin-left: .9%;
    display: flex;
    padding: 3rem 0;
    margin-bottom: 3rem; }
    .footer-body-left {
      flex: 1;
      flex-basis: 50%; }
      .footer-body-left__txt h5:first-child {
        margin-bottom: 2.1rem; }
      .footer-body-left__txt h5:nth-child(2) {
        margin-bottom: 1.2rem; }
    .footer-body-right {
      flex: 1;
      flex-basis: 50%;
      display: flex;
      justify-content: space-between; }
      .footer-body-right-l {
        flex-grow: 1;
        display: flex;
        padding-left: 5.7rem; }
      .footer-body-right-r {
        flex-basis: 24%; }
      .footer-body-right .title {
        font-size: 2.1rem;
        font-weight: bold; }
        .footer-body-right .title--shop {
          font-size: 1.8rem; }
  .footer-bottom {
    margin-left: .9%; }
    .footer-bottom::after {
      content: '';
      display: block;
      clear: both; }
    .footer-bottom__nav {
      float: right;
      font-size: 1.4rem;
      font-weight: bold; }
      .footer-bottom__nav > a:first-child {
        margin-right: 1.8rem; }
      .footer-bottom__nav > a {
        text-transform: uppercase; }
  .footer__social {
    display: flex;
    align-items: center;
    margin-bottom: 5.4rem; }
    .footer__social__title {
      text-transform: uppercase;
      margin-right: 3rem; }
    .footer__socialList {
      display: flex; }
      .footer__socialList > li {
        margin-right: 2.7rem;
        color: #fff; }
        .footer__socialList > li > i {
          vertical-align: top;
          display: inline-block;
          width: 3.3rem;
          height: 3.3rem;
          border-radius: 50%;
          background: #000; }
  .footer__nav {
    font-size: 2.1rem;
    font-weight: bold;
    flex-basis: 45%; }
    .footer__nav a:link, .footer__nav a:visited {
      display: block;
      margin-bottom: 1.5rem; }
  .footer__product {
    flex-grow: 1; }
    .footer__product > .title {
      margin-bottom: 1.2rem; }
    .footer__productNav {
      font-size: 1.56rem;
      font-weight: bold; }
      .footer__productNav a:link, .footer__productNav a:visited {
        position: relative;
        display: block;
        padding-left: 1.8rem;
        margin-bottom: 1.5rem; }
      .footer__productNav a::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 0;
        height: 0;
        padding: .09rem .5rem;
        background: #000; }
  .footer__copyright {
    color: #333; }

.blog {
  background: #00FFBD;
  max-width: 1140px;
  margin: 0 auto;
  padding: 3rem 7.5rem; }
  .blog::after {
    content: '';
    display: block;
    clear: both; }
  .blog-title {
    float: left;
    margin-top: 5.4rem;
    width: 37.5%; }
    .blog-title--primary {
      font-size: 4.5rem;
      font-weight: bold; }
    .blog-title--sub {
      font-size: 1.8rem; }
  .blog-article {
    width: 62.5%;
    float: left; }
    .blog-article-row::after {
      content: '';
      display: block;
      clear: both; }
  .blog__card {
    float: left;
    width: 48%; }
    .blog__card:nth-child(odd) {
      margin-right: 4%; }
    .blog__card__img-box > img {
      width: 100%;
      object-fit: cover;
      vertical-align: middle; }
    .blog__card__title {
      position: relative;
      font-size: 1.8rem; }
    .blog__card__content {
      line-height: 1.8;
      margin-bottom: .9rem; }
    .blog__card__link:link, .blog__card__link:visited {
      color: #000; }

.table {
  box-shadow: 0 0 0 1px #000;
  table-layout: fixed;
  font-size: 1.32rem;
  color: #fff; }
  .table thead {
    background: #82c7f3; }
  .table th.day {
    padding: 1.2rem .36rem; }
  .table tr {
    box-shadow: 0 1px 0 1px #fff; }
  .table td {
    position: relative;
    box-shadow: 0 0 0 0.3px rgba(130, 199, 243, 0.6);
    padding: 1.2rem 0; }
    .table td[colspan] {
      background: #82c7f3;
      box-shadow: 0 0 0 1px #fff; }
    .table td.time {
      padding-left: 1rem; }
  .table span.open {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: #82c7f3; }
  .table span.close::after, .table span.close::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 1px;
    height: 10px;
    background: #82c7f3;
    transform-origin: center; }
  .table span.close::after {
    transform: rotateZ(45deg); }
  .table span.close::before {
    transform: rotateZ(-45deg); }
  .table span.type {
    position: relative; }

.btn:link, .btn:visited {
  display: inline-block; }

.btn--footer:link, .btn--footer:visited {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  background: #000;
  padding: 1.2rem 0;
  margin-bottom: 1.2rem; }
