html {
  font-size: 62.5%; }

.section {
  margin: 3rem 0; }

.section__title {
  font-size: 4.2rem;
  margin-bottom: 1.8rem;
  text-align: center; }

.template {
  margin-bottom: 3.3rem; }

.todayReading {
  /* content: counter(read); */
  counter-reset: read 0;
  min-width: 540px;
  max-width: 600px;
  margin: auto;
  margin-top: 3rem; }

.todayReading > li {
  margin-bottom: 1.5rem; }

.todayReading > .counter::before {
  content: counters(read, "-") " ";
  counter-increment: read;
  font-size: 1.5rem;
  margin-right: 1.2rem; }

.todayReading p {
  font-size: 1.5rem;
  padding: 1.2rem 0;
  padding-left: 4.2rem;
  line-height: 1.5; }

ol a:link,
ol a:visited {
  text-decoration: none;
  color: #333;
  font-size: 1.8rem; }

ol a:hover {
  color: #cd0000; }

ol h2 {
  font-size: 4.2rem;
  margin-bottom: 1.5rem; }

.base-link:link, .base-link:visited {
  text-decoration: none;
  color: #000; }

.t-cn {
  text-align: center; }

img {
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  img:not([src]) {
    visibility: hidden; }
  img::before {
    display: block;
    visibility: visible;
    padding: 12rem 0;
    text-align: center;
    font-size: 2.4rem;
    color: #fff;
    background: #aaa; }

.u-margin-b-ss {
  margin-bottom: 1.2rem; }

.u-margin-b-s {
  margin-bottom: 1.8rem; }

.u-margin-b-m {
  margin-bottom: 2.4rem; }

.u-margin-b-b {
  margin-bottom: 3.6rem; }

.page-container {
  padding: 0 3%; }

.page__video-box {
  padding: 21rem 0;
  border-radius: 12px;
  background: url("../../img/movie_img0.jpg") no-repeat center top/cover;
  margin-bottom: 1.8rem; }

.page__carousel {
  border-radius: 12px;
  margin-bottom: 2.1rem;
  overflow: hidden; }
  .page__carousel > img {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
    border-radius: 12px; }

.page__news {
  color: #fff; }
  .page__news-big, .page__news-small {
    background: #777;
    border-radius: 6px;
    padding-bottom: 9rem;
    padding-top: 1.2rem;
    padding-left: 1.2rem; }
  .page__news-small {
    display: none; }
  .page__news__tag {
    font-size: 1.5rem;
    margin-bottom: 9rem; }
  .page__news__time {
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin-bottom: .6em;
    padding: 0 1.5rem; }
  .page__news__content {
    font-size: 1.8rem;
    line-height: 1.5;
    padding: 0 1.5rem; }

@media only screen and (min-width: 640px) {
  .page-wrap {
    display: flex;
    margin-bottom: 1.8rem; }
    .page-wrap--inner {
      flex-basis: 48%; }
  .page__lobo-box {
    flex-basis: 50%; }
  .page__carousel {
    flex-basis: 50%;
    margin-right: 2%;
    height: 264px; }
    .page__carousel > img {
      height: 100%; }
  .page__news {
    color: #fff; }
    .page__news-big {
      padding-bottom: 0; }
    .page__news__tag {
      margin-bottom: 1.2rem; }
    .page__news__time {
      letter-spacing: 1px;
      margin-bottom: .6em;
      padding: 0 1.5rem; }
    .page__news__content {
      line-height: 1.5;
      padding: 0 1.5rem; } }

@media only screen and (min-width: 766px) {
  .page-container {
    display: flex;
    flex-wrap: wrap; }
  .page__video-box {
    padding: 0;
    height: 45rem;
    flex-basis: 72%;
    margin-right: 2%; }
  .page__logo-box > img {
    width: 100%; }
  .page-wrap {
    flex-basis: 72%; }
    .page-wrap-1 {
      display: block;
      flex-shrink: 1;
      flex-basis: 26%;
      max-width: 26%;
      margin-bottom: -13rem; }
  .page__news {
    position: relative; }
    .page__news-big {
      padding-bottom: 2.4rem;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .page__news-small {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      padding-bottom: 2.1rem;
      width: 30%; }
      .page__news-small:nth-child(2) {
        left: 150%; }
      .page__news-small:nth-child(3) {
        left: 106%; }
      .page__news-small > .page__news__content {
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .page__news-small > .page__news__time {
        padding: 0; } }

.card {
  margin-right: 1%;
  width: 24.25%;
  float: left;
  text-align: center;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.41);
  border-radius: 6px;
  padding: 3rem 0;
  cursor: pointer; }
  .card-container {
    padding: 3rem 17%;
    background: url(../../img/tail-body.gif); }
    .card-container::after {
      content: '';
      display: block;
      clear: both; }
  .card:nth-child(4n) {
    margin-right: 0; }
  .card:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.41), 3px 3px 3px 3px rgba(0, 0, 0, 0.45);
    transform: translate(-3px, -3px); }
    .card:hover .card__title {
      color: #333; }
    .card:hover .card__content {
      color: #333; }
    .card:hover .card__more:link, .card:hover .card__more:visited {
      color: #333; }
  .card__logo {
    position: relative;
    top: -5.4rem;
    margin: 0 auto;
    margin-bottom: -5.4rem; }
    .card__logo.tools {
      content: url(../../img/page1-img1.png); }
    .card__logo.network {
      content: url(../../img/page1-img2.png); }
    .card__logo.database {
      content: url(../../img/page1-img3.png); }
    .card__logo.webdv {
      content: url(../../img/page1-img4.png); }
  .card__title {
    font-size: 1.8rem;
    color: #ce9a00;
    font-weight: bold;
    margin: 1.2rem 0; }
  .card__content {
    line-height: 1.5;
    font-size: 1.4rem;
    padding: 0 1.6rem;
    margin-bottom: 1.5rem;
    color: rgba(0, 0, 0, 0.41); }
  .card__more:link, .card__more:visited {
    display: inline-block;
    text-transform: uppercase;
    color: #ce9a00;
    font-size: 1.3rem; }

.calendar {
  width: 100%;
  max-width: 602px;
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 3px 5px;
  font-weight: bold; }
  .calendar .work {
    color: #004566; }
  .calendar .sat {
    color: #0099ee; }
  .calendar th {
    font-size: 1.5rem;
    letter-spacing: 2px; }
    .calendar th.break {
      color: #bc0000; }
  .calendar td {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
    font-size: 2.4rem;
    padding-left: 1.2rem;
    padding-top: .3rem;
    letter-spacing: 1px;
    color: #004566;
    vertical-align: top; }
    .calendar td.break {
      color: #bc0000;
      box-shadow: none;
      background-color: rgba(188, 0, 0, 0.15); }
      .calendar td.break--work > span {
        color: #004566; }
    .calendar td.last {
      padding-left: .3rem;
      padding-bottom: 4.5rem;
      color: #ccc; }
    .calendar td.sat > span {
      color: #0099ee; }
    .calendar td > p {
      font-size: 1.4rem;
      text-align: center;
      margin: 1.2rem 0 .9rem;
      margin-left: -1.2rem; }
    .calendar td > .wrap {
      margin-left: -1.2rem;
      padding-left: .6rem;
      padding-bottom: .6rem;
      font-size: 1.5rem;
      border-bottom: 3px solid #fff; }
      .calendar td > .wrap:nth-child(2n) {
        border: none; }
      .calendar td > .wrap > p {
        text-align: right;
        padding-right: 1.2rem;
        font-size: 1.4rem; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  padding: 1.2rem, 1.8rem;
  box-shadow: 0 0 0 1px #000; }

.profile__card {
  display: flex; }
  .profile__card__img-box {
    flex-grow: 1;
    flex-basis: 48%;
    margin-right: 3%;
    border-radius: 12px 0 0 12px; }
    .profile__card__img-box.female {
      background: url("../../img/staff_l.jpg") no-repeat 81% top/cover; }
    .profile__card__img-box.male {
      background: url("../../img/staff_s.jpg") no-repeat center top/cover; }
  .profile__card.male {
    margin-bottom: 2.4rem; }
  .profile__card.male > .profile__card-txt {
    order: -1; }
  .profile__card-txt {
    flex-grow: 1;
    flex-basis: 48%;
    padding: 12rem 0; }
  .profile__card__content {
    margin-left: 1.8rem; }
  .profile__card__year {
    font-size: 1.41rem;
    margin-bottom: 1.2rem;
    letter-spacing: 1px; }
  .profile__card__month {
    font-size: 1.8rem;
    letter-spacing: 3px;
    margin-bottom: 1.41rem; }
  .profile__card__work, .profile__card__name {
    font-size: 1.32rem;
    letter-spacing: .3px;
    margin-bottom: .9rem; }

@media only screen and (min-width: 640px) {
  .profile__card {
    display: block;
    flex-basis: 50%; }
    .profile__card.male {
      display: flex;
      margin-bottom: 1.5rem; }
    .profile__card.male > .profile__card-txt {
      order: initial; }
    .profile__card.female > .profile__card__img-box {
      padding: 9rem 0;
      margin: 0;
      background-position: center;
      margin-bottom: 1.5rem; }
    .profile__card.female > .profile__card-txt {
      padding: 0; }
    .profile__card.male > .profile__card-txt {
      padding: 0;
      padding: 2.1rem 0; }
    .profile__card.male .profile__card__content {
      margin-left: .9rem; } }
