.article {
    // article area title
    img {
        width: 100%;
        vertical-align: middle;
        object-fit: cover;
    }

    &-container {
        max-width: 600px;
        margin: 0 auto;
    }

    &-titleWrap {
        text-align: center;

        &::after {
            content: '';
            display: block;
            height: 0;
            padding: .45rem 0;
            background: linear-gradient(to right , #ff6636 10% ,#9f3a86 25% , #3969ca 40%, #3969ca 60%, #9f3a86 75%, #ff6636 90%);
            background-size: 200%;
            margin-top: 1.5rem;
        }
    }


    &__title {
        &--primary {
            font-size: 3.6rem;
            font-weight: bold;
            word-spacing: -3px;
            letter-spacing: -.6px;
            margin-bottom: 1.2rem;
        }
        &--sub {
            font-size: 1.8rem;
            letter-spacing: 2.1px;
        }
    }

    // content

    &__linkarea {
        position: absolute;
        top: 0; bottom: 0; right: 0; left: 0;

        &:hover {
            ~ .article-content__banner__title {
                color: #0000aa;;
            }
            ~ .article-content__news__txt {
                color: orange;
            }
        }
    }

    &-content {

        &::after {
            content: '';
            display: block;
            height: 0;
            padding: .09rem 0;
            background: #0000aa;
            margin: 1.2rem 0;
        }

        &-titleWrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.2rem 6% 1.2rem 9%;
            // uer float 兩端對齊
            // @include clear;
        }

        &__title {
            &--primary {
                font-size: 3rem;
                letter-spacing: 3px;


                // use float 兩端對齊
                // float: left;
                // width: 100%;
            }
        }

    

        &__banner {
            position: relative;
            z-index: 0;
            @include clear;
            margin-bottom: 3rem;

            &__link {
                // position: absolute;
                // top: 0; bottom: 0; right: 0; left: 0;
                // &:hover {
                //     ~ .article-content__banner__title {
                //     color: #0000aa;;
                //     }
                // }
            }

            &__title {
                font-size: 1.8rem;
                font-weight: bold;
                line-height: 1.5;

                float: left;
                // width: 100%;
                padding: 7.2rem 0;
                padding-right: 63%;
                padding-left: 1.2rem;
                
                &::before,
                &::after  {
                    content: '';
                    display: block;
                    height: 1px;
                    // padding: .09rem 0;
                    background: #ccc;
                }
                &::before {
                    margin-bottom: 1.2rem;
                }
                &::after {
                    margin-top: 1.2rem;
                }
            }
            &__img-box {
                float: left;
                width: 57%;
                margin-left: -57%;
            }
        }



        &__news {    
            position: relative;
            float: left;
            @include grid-sys(2,7.5);
            margin-bottom: 1.5rem;

            
            &Wrap {
                @include clear;
            }


            &__img-box {
                float: left;
            }

            &__txt {
                overflow: hidden;
                font-size: 1.42rem;
                line-height: 1.5;
                padding-left: 1.8rem;
            }
        }

        &__articleAll {
            // use fleoat 兩端對齊 , 較麻煩 , 如果 viewAll btn 大小變化 , margin-left要跟者調整 , 或者直接設定寬度
            // float: left;
            // margin-left: -6.5rem;

            > .arrow {
                display: inline-block;
                width: 3rem;
                height: 3rem;
                vertical-align: middle;
                transition: all .15s linear;
            }
        }
    }
}