.price {
    // #82c7e9
    // #f2f9fc
    // #444
    max-width: 879px;
    margin: 0 auto;
    color: #444;
    border-collapse: separate;
    padding: 4.5rem 3rem;
    background: #f2f9fc;
    border-spacing: 1.5rem 0;
    table-layout: fixed;

    th{
        // padding-bottom: 1.4rem;
        border-bottom: 1px solid #82c7e9;
    }

    thead {
        font-weight: bold;

        th {
            padding-bottom: 1.4rem;
            border-bottom: 1px solid #82c7e9;
        }
        span {
            font-size: 1.5rem;
        }
    }


    &,&-inner {
        width: 100%;
    }


    thead,th {
        text-align: left;
    }

    td {
        font-size: 1.4rem;
        &.title {
            font-size: 1.5rem;
            font-weight: bold;

            &.border-none {
                border: none;
            }
        }
    }


    &-inner {
        td {
            padding: 1.5rem 0;
            border-bottom: 1px solid #82c7e9;
            &.title {
                padding: 1.8rem 0;
            }
        }
        span.itemmoney {
            font-weight: bold;
        }
        span.circle {
            &::before {
                content: '';
                display: inline-block;
                padding: .6rem;
                border-radius: 50%;
                box-shadow: 0 0 0 1px #82c7e9;
                vertical-align: middle;
                margin-right: 1.2rem;
            }
        }
    }


    .checkmoney {
        font-size: 2.7rem;
        font-weight: bold;
    }
}